[2018-02-22 04:29] jessaskey opened #1 "ROM Versioning..."
Since many versions of this ROMset will be released, we will need to be able to identify specific ROM builds to keep them all straight. This will impact MAME obviously and also make it less problematic on identifying individual ROM's within each set.

[2018-02-22 04:35] jessaskey commented on #1
I think the way this will work is that I will store two bytes within each ROM to identify the ROM build. The first byte will be the MAJOR_VERSION and the second byte will be the MINOR_VERSION.

Pre-release builds will be MAJOR_VERSION = 0.

The two version bytes will be the first two bytes on each ROM image... it is unlikely that any individual ROM will be interchangeable within different BUILDS.

[2018-02-22 04:35] #1 closed, assigned to jessaskey

[2018-02-23 05:50] jessaskey opened #2 "Add ROM version number into Self Test for identification purposes"
Need to add a version string into the Self Test so people can identify which ROMset they have installed.

[2018-02-23 05:53] jessaskey opened #3 "Fix problem with Oxygen running out on Level 16"
It is currently impossible to make it through level 16 in one live even if played flawlessly due to lack of Oxygen. Many ideas have been thrown around, but I think that after all O2 is picked up, we can either just put them all back for re-consumption or perhaps make a maze object that Rex can touch to make them all come back. Another idea was to put a button on a wall that could be 'pushed' to re

[2018-02-23 05:55] jessaskey opened #4 "Make animation for Oxygen"
When Rex touches an O2, it should move upwards and fade away, maybe even get a little bigger as it moves upwards?

[2018-02-23 05:55] jessaskey opened #5 "Add Star Castle level back right before homeworld"
Yeah, it's happening.

[2018-03-02 05:39] jessaskey opened #6 "Homeworld Vectors need cleaned up"
On the vector renderings of the homeworld, the vectors protrude out over their target intersections on the outside of the shape. This can be seen in MAME but should be tested on an actual vector monitor to see how noticeable it is and the resolve the renderings.

[2018-04-20 01:29] jessaskey commented on #2
This is complete. The Self Test screen for the ROM's all show the 'ROM Header' which includes the ROM identifier and the version.

[2018-04-20 01:29] #2 closed, assigned to jessaskey

[2018-04-20 01:31] jessaskey opened #7 "Remove the 'Bonus 5000' on the opening launch screen."
There is no reason for this to be here as it should come back on the init of the Space Wave instead.

[2018-04-20 01:32] jessaskey opened #8 "Create working Star Castle level directly before homeworld"
Need to get the Star Castle level working fully before the homeworld

[2018-04-20 01:36] jessaskey commented on #8
Main Star Castle level is working, but need to finish all the hard stuff now.

1. Shot launch when a panel opening towards player
2. Deincrement the counter
3. Collision routine with Panels isn't quite right yet
4. Add 'Enemy Strength' meter (BOSS LEVEL)

[2018-04-20 01:37] jessaskey opened #9 "Adjust settings via Self Test"
Since we have space in the EEROM, we can actually keep the game settings there (using the old DIP settings as the default)... this will allow changing settings via self test rather than having to adjust DIPs.

[2018-04-20 01:40] jessaskey opened #10 "Ensure Self Test can run on Minimal ROM's"
Need to organize code so that the Self Test is runnable by just having the Alpha High ROM (1L) and the main Vector ROM (can't remember position).... this will help with troubleshooting issues. GAMMA processor should be completely optional for Self Test.

[2018-04-20 01:41] jessaskey commented on #10
This *should* be good to go now. I also added quick pulses to the roller lamp to indicate progress in the code so that by looking at the pulse counts, it can aid in troubleshooting where the failure might be.

[2018-04-20 01:41] #10 closed, assigned to jessaskey

[2018-04-20 04:11] jessaskey commented on #7
Removed!

[2018-04-20 04:11] #7 closed, assigned to jessaskey

[2018-04-20 04:29] #5 closed, assigned to jessaskey

[2018-04-23 01:19] jessaskey opened #11 "Breakout does not reset after completion"
The breakout game should reset on the level after it is completed so that the play can continue to earn lives. This was the behavior on Return To Vaxx

[2018-04-23 01:23] jessaskey opened #12 "Bad Text in some places"
There is an issue with some text which has prepended characters on the words sometimes... an example is on the level 1 maze hint text which says 'cexit maze before timer reaches 0'. This may be in multiple places.

![image](https://user-images.githubusercontent.com/3683098/39102569-83a9e94c-4662-11e8-8091-2d6e178e78d0.png)

[2018-04-23 01:24] jessaskey opened #13 "Issue with Space Maze coloring"
The maze lines are drawn now, but changed colors (thicker too?) (no flicker out on other space levels though)

![image](https://user-images.githubusercontent.com/3683098/39102605-bd7671e0-4662-11e8-8881-1b20520b6d7f.png)

[2018-04-23 01:25] jessaskey opened #14 "Trip Pad Issues"
On level 6-8 the red pads in mother bases don't work right. Some pads kill you right away like on 6 (even with shield) and others seem to set off the wrong pads far away from where you are presently.
![image](https://user-images.githubusercontent.com/3683098/39102619-dc60f5da-4662-11e8-8e9e-fc4d49918b2a.png)

[2018-04-23 01:25] jessaskey opened #15 "Unknown objects visible"
There are pair of "ghosts" slowly making there way left to right at top of scanner in mother base on level 8 (two white dots like perkoids off map)

![image](https://user-images.githubusercontent.com/3683098/39102633-f54a9894-4662-11e8-93f0-a7ae9980ebea.png)

[2018-04-23 01:27] jessaskey opened #16 "Level 9 moving walls issue"
On level 9 the red pads are working right again, but the opening and closing walls don't function at all.

![image](https://user-images.githubusercontent.com/3683098/39102655-1de291ee-4663-11e8-9471-67a50d5929a6.png)

[2018-04-23 04:34] jessaskey commented on #12
This was an issue that affected all maze hints as far as I can tell... should be good now in new builds.

[2018-04-23 04:34] #12 closed, assigned to jessaskey

[2018-04-23 07:01] jessaskey opened #17 "Move Maze Object Data to Static Locations"
In order for Maze Editing to work later, all the maze data pointers need to be moved so that code changes don't affect the table addresses.

[2018-04-23 16:50] jessaskey commented on #17
I have started getting this cleaned up, moved a bunch of the 'top map' code into a seperate module to try and get some more space in the maze data paged ROM... still a little more to do on this tho.

[2018-04-24 00:08] jessaskey commented on #17
Moved a bunch of code out of the maze data ROM  so we have plenty of space in here now.

[2018-04-24 00:08] #17 closed, assigned to jessaskey

[2018-04-24 00:15] jessaskey commented on #14
I found a couple spots in code where this was jacked up... I fixed it but will need David J. to test to see if it fixes things.

[2018-04-24 00:18] jessaskey commented on #16
found bad code around this... fixed it and will defer to David J. on testing.

[2018-04-24 00:33] #11 closed, assigned to jessaskey

[2018-04-26 00:56] jessaskey commented on #3
I fixed this by actually making the O2 bonus amounts (normally 10 per O2) defined by level. So for now, level 16 gets 20 per oxygen. I will work with David to get this tweaked for best effect.

[2018-04-26 00:57] jessaskey commented on #16
Verified working by DJ on release 0.14

[2018-04-26 00:57] #16 closed, assigned to jessaskey

[2018-04-26 00:58] jessaskey commented on #14
Not fixed... from David: Red Trigger Pads don't work right on all applicable levels 1-16. The red fryoids appear and freeze in place most times now. Sometimes where they are supposed to originate from. Other times near other pads. Sometimes outside the maze.

![image](https://user-images.githubusercontent.com/3683098/39280235-5e9f4614-48bb-11e8-9527-a4fff5cdb8f7.png)

[2018-04-26 01:01] jessaskey opened #18 "Blank Oxygen and Reactor Timers"
The Oxygen and Reactor Timers are now blank on all motherboard levels.

![image](https://user-images.githubusercontent.com/3683098/39280214-3b4efc04-48bb-11e8-9d85-a6c7dfa9531e.png)

[2018-04-26 01:05] jessaskey opened #19 "Breakout Broken now"
Also the breakout game doesn't reset when you clear it, it just keeps dropping the ball on a blank screen and giving out free lives ever level after you clear it. I am sure players would love that but....

![image](https://user-images.githubusercontent.com/3683098/39280274-a063f1e4-48bb-11e8-9a31-c39a5cc080f1.png)

[2018-04-26 02:27] jessaskey commented on #18
Bad data conversion in build 0.15... this should be fixed in 0.15 onwards

[2018-04-26 02:27] #18 closed, assigned to jessaskey

[2018-04-26 02:31] jessaskey opened #20 "Make levels 17-24 at least playable"
Currently these mazes are jibberish and not playable or passable. They should at least by passable with a reactor so that David can get to the Star Castle and homeworld.

[2018-04-26 04:06] jessaskey commented on #19
Okay, found the issue. I just had to restore those pesky bricks!! :-)

[2018-04-26 04:08] jessaskey opened #21 "Remove demo mode (or hide it :-) )"
Need to remove the demo mode setting so people can't jump straight to homeworld. I will actually make this accessible later.

[2018-04-26 04:15] jessaskey commented on #21
I haven't actually disabled this, I just put in a compiler time definition in order to be able to remove it if needed.

[2018-04-27 05:06] jessaskey commented on #15
This is actually a dup of #14 as the two objects are results of malfunctioning trip pads. Gonna close this one.

[2018-04-27 05:06] #15 closed, assigned to jessaskey

[2018-04-28 00:54] jessaskey commented on #14
Okay, I found the issue I believe and I have confirmed that Trip pads are working on Level 8 at least.

[2018-04-30 13:34] jessaskey opened #22 "Oxygen animation and positioning strangeness"
Dave J. reported that in build 0.15 the Oxygen is behaving erratically. On some levels, it will reposition itself based upon the player and will 'fly' around the screen.

[2018-04-30 13:36] jessaskey commented on #4
Done, but with bugs. Will close this.

[2018-04-30 13:36] #4 closed, assigned to jessaskey

[2018-04-30 13:36] #21 closed, assigned to jessaskey

[2018-04-30 13:38] jessaskey commented on #19
Im moving this into release 0.16 now because it is still broken but differently. In 0.16, I think I found a better place to do the 'reset' of the bricks, so I think this *should* be done now??? Tests will tell.

[2018-04-30 13:38] jessaskey commented on #14
seems to be good now per Dave J.

[2018-04-30 13:38] #14 closed, assigned to jessaskey

[2018-04-30 13:42] jessaskey opened #23 "More Maze Object Data Space Needed"
After some analysis with Bryan, it seems we may be tight using only 1 single Page of ROM for Maze data storage on all 28 levels. Especially if we want to add hidden levels, so we need to break the maze data into two smaller sections and put them onto two different pages. This will most likely cause some other bugs unless it is executed flawlessly, but we can hope I suppose. :-)

[2018-04-30 13:46] jessaskey opened #24 "Ensure top map is being drawn with smaller vectors"
Owen alluded to the fact that the top map in the maze may be getting drawn using full size maze stamp graphics just scaled down... so a vector that should be like 12 long is being drawn with a scaled down length of 256. The biggest implication of this is that those vectors all use the 4-byte Vector Long Draw command when they should be able to use the 2-byte Vector Short Draw command which would b

[2018-04-30 14:52] jessaskey opened #25 "Add in speech maze countdown"
Put some sample speech into the gameplay when the maze gets to 10 or below.

[2018-05-01 13:55] jessaskey opened #26 "Add in temp Speech command for Scott S."
Scott's hardware is still in dev, for speech to work we will need to add a shadow command in GAMMA code to send the speech indexer to. Once Scott is finished, then this can be taken out. It should be quite simple.

[2018-05-01 23:49] jessaskey opened #27 "Enhance breakout after player completes the level"
After the player completes breakout and gets the WOW message. When they come back to the tact scanner, the bricks should change color and there should be one additional ball launched. If the complete it again, then again, another ball should be added. The player is awarded an extra life each time the breakout blocks are completed!

[2018-05-02 14:19] jessaskey commented on #26
Im just going to write this in quickly so that any speech command to the GAMMA processor will get written to $8000 immediately when it is received. This may make speech clobber itself, but we will see how it goes.

[2018-05-04 14:31] jessaskey opened #28 "Move level specific Oxygen bonus table into MazeData tables (Paged)"
When I created it, it was created in tw_motion for testing.... in order to have this as a configurable item in the Level Editor, it needs to be moved into the Paged Maze Data Storage areas along with the rest of the data tables.

[2018-05-08 22:51] jessaskey opened #29 "Make long range scanner scale evenly from level 1-28 to the end."
Right now the long range scanner is broken down into 8 sections but for each section (level 1-3, 4-7, 8-11, etc).. the ship moves in the same segment, make the whole process linear so that within each group of 4 levels, the ship moves 25% of the major tick marks each level.

[2018-05-09 02:17] jessaskey commented on #22
I found the issue with this... should be ready for testing in release 0.16

[2018-05-09 02:17] #22 closed, assigned to jessaskey

[2018-05-09 04:08] jessaskey commented on #23
Okay, this took some jiggering, but now maze data is contained on two dedicated ROM pages... 1 and 4. All other code has been moved off these pages so they can be dedicated to the pointer tables and actual maze configuration data.

[2018-05-09 04:13] #3 closed, assigned to jessaskey

[2018-05-11 19:01] MajorHavoc commented on #29
This is a good fix. I never went back and fixed that just because I forgot about it.

BUT, each dot was supposed to represent a space station to the planet. Do we need more dots displayed?

-Owen-

[2018-05-12 00:08] jessaskey commented on #29
So in the final version there are I think 5 dots with a planet looking object at the end. Each dot was a quad of levels... so for level 1-4 you would get closer to the first dot. the levels 5-8 would be getting closer to the second dot etc. Then when you would do levels 17-20 you would be approaching the planet, but it would just reset for level 21 and put you back where you were on Level 17 and i

[2018-05-14 03:49] jessaskey commented on #29
okay, I just implemented this fix... will release with 0.18

[2018-05-14 03:51] #19 closed, assigned to jessaskey

[2018-05-14 03:51] #26 closed, assigned to jessaskey

[2018-05-14 03:52] #27 closed, assigned to jessaskey

[2018-05-14 03:52] #23 closed, assigned to jessaskey

[2018-05-14 03:55] jessaskey commented on #20
I fixed this in 0.17... remove the Ion Cannon and other enemies from level 17-24.

[2018-05-14 03:55] #20 closed, assigned to jessaskey

[2018-05-14 03:57] #28 closed, assigned to jessaskey

[2018-05-14 16:56] jessaskey opened #30 "Transitions between TactScan/Space/Maze seem slow"
In the ship transistions between the Tactical Scanner, the Space Wave and the Maze... the transition animations seem slower than in the original version. Need to do an A/B test against this and see what the deal is with it.

[2018-05-14 16:58] jessaskey opened #31 "Breakout blocks acting funny with multiple balls."
During the second and third breakout sequences, the balls are behaving erratically... sometimes a ball may pass through the bricks on the way up. Sometimes when the first ball goes past the paddle, the other balls turn invisible but still act upon the bricks...

[2018-05-15 01:17] MajorHavoc commented on #31
I still STRONGLY object to this multiball nonsense on Breakout. It really offends me actually. The game was added as a prank, and a way to earn an extra life, not to be a major play element. Lets fix this bug by just going back to one ball please.  And if and when I have time, I will write a Space Duel like game for the second round, and maybe a Tube Chase or Skydiver game for a third round.

Than

[2018-05-22 01:57] jessaskey opened #32 "Reduce complexity of Alpha Self Test screen."
The main test screen, while nice and easy to read, is too much for the actual hardware. It looks good on MAME but on a PCB, it flickers pretty bad. Need to remove some vectors on there so it draws better on actual hardware.

[2018-05-22 02:00] jessaskey opened #33 "DIP Switch settings are being ignored"
With the new EEROM code, the current DIP switch settings are not being honored unless an EEROM reset is done. Need to temporarily fix this so DIPs are always used for now until the more advanced EEROM settings code is complete.

[2018-05-22 02:08] jessaskey commented on #31
I think that the Space Duel mini-game in there would be fantastic. I will work with Owen so he can write code for this and if all goes well, we will get that in there. Im just going to leave the breakout as it is for now because we have bigger fish to fry before CAX.

[2018-05-22 04:41] jessaskey commented on #24
I dug into this and it looks like the top maze radar drawing *is* done optimally in the code. It actually draws the lines in an optimal way by doing Horizontal lines separately and then combining connected segments into a larger single vector when appropriate. It does the same for Vertical lines then as well. So, unfortunately, we aren't going to get any speed improvements here.

[2018-05-22 04:41] #24 closed, assigned to jessaskey

[2018-05-31 03:11] jessaskey commented on #29
In attempting to do this... I caused some other problems... so in the next release I will get this fixed up. The issues in v0.18 are that the long range scanner has the wrong number of dots and that the center picture of the next ship enemy no longer scrolls down into view the way it should.

[2018-05-31 04:08] jessaskey opened #34 "Off Course Robot on Level 19"
There is a robot on level 19 that is breaking out of the maze map and drifting downwards from the top map and through the bottom of the screen. Must have been an issue in copying the data from the RTV ROM's due to the odd bug in Notepad++ that changes $00 values to $20 values when copying hex data into the clipboard.

[2018-05-31 04:09] jessaskey commented on #34
I found the issue on this... fixed the bad $20 data.

[2018-05-31 04:11] jessaskey commented on #29
changed this up a bit to make the code simpler by using a lookup table for values rather than trying to do crazy math on the lroff variable.

[2018-11-29 15:39] Robbbert opened #35 "Watchdog makes game unplayable"
I've tried making this work in the current version of HBMAME, following on from your request https://github.com/mamedev/mame/pull/3474 .

However it watchdog-resets both in the attract mode and while playing the game, and is therefore unusable.

The same problem occurs with the version of MAME in your repository.

[2018-11-29 16:34] jessaskey commented on #35
Yeah, strangely, Im having lots of issues getting my code merged into MAME properly due to a number of issues (mostly me be an SVN person and not a GIT person I think)..... either way, the big change is that the Alpha Processor ROM Page handler needs to be updated to use the new method

At this point my fork is so out of date (April 2018) that I can't compile it against the current build of MAME i

[2018-12-04 23:39] Robbbert commented on #35
Still not working, even with your own version of MAME. When the ship drops down to land on the white platform, it suddenly expands then freezes. The watchdog then kicks in. Checking with the debugger reveals on exit of an interrupt it runs into the weeds before eventually ending at a KIL opcode.

It can't possibly be included in MAME until you sort that out.

Also, even though I followed your rom

[2018-12-04 23:57] jessaskey commented on #35
I think we have a disconnect... please ignore PR 3474, that Pull Request and repo has issues. I have closed that PR and made a new PR 4361 - https://github.com/mamedev/mame/pull/4361

The files in this new PR have the correct CRC files for the mhavocpex (CAX 2018 BETA version) ROM's which you can create from the patch files here in this repo.

Make sure you are using the mhavocpex driver as well.

[2018-12-05 00:10] jessaskey commented on #35
Im building another mame64.exe to upload here so you can test without source building it if you want. I will also verify that it plays okay and report back.

[2018-12-05 01:10] jessaskey commented on #35
Okay, there is a new build of mame up in this repo... https://github.com/jessaskey/mhavocpe/blob/master/MAME/mhavocpex64.exe  This is a mhavoc only build to save space. I have tested it against the mhavocpex ROM's which can be built from this site (CAX 2018 release BETA)... and I was able to land on the maze and play in the maze fine. So Im thinking something is criss-crossed. Please let me know i

[2018-12-06 11:40] Robbbert commented on #35
Still no luck. With your new mhavopex64.exe it still resets. The problem must be with the roms, which do not match the crc's in your mame. I used mhavoc roms as input, since these are rev.3, but maybe you meant some other revision. I'll try other sets and see if the correct crc's can be obtained.

[2018-12-06 12:11] Robbbert commented on #35
After further checks, only mhavoc roms are acceptable as input to patch_roms.bat. I ran it all over again, but the results are still the same. I used the bspatch.exe that you have here.

So, progress will not be possible unless the correct roms can be obtained.

[2018-12-06 15:30] jessaskey commented on #35
Okay, let me go check out the patching again..... it was something I had to add at the last minute (rather than distributing full copyrighted ROM's)... so it has not been extensively tested.... You are correct tho.... the source ROM's are supposed to be mhavoc v3 ROM's. I will see if I can add a check to the source files to ensure they are also correct for the patch process.

[2018-12-08 04:40] jessaskey commented on #35
I have verified that the patches can generate ROM's which are playable and match the CRC of what is in the PR #4361 . I did run into some interesting things making mhavocpex ROM's from the mhavoc ROM's on my Windows 10 machine... I wasn't able to get bspatch to actually output files with the version of bspatch which I had downloaded from here - https://www.romhacking.net/utilities/929/ . The only

[2018-12-08 04:41] jessaskey commented on #35
I should note, that the new ROM patches are indeed different than the original ones that were uploaded here, so you are correct that there was something wrong with them. thanks again.

[2018-12-14 08:09] Robbbert commented on #35
The new psbatch.exe (24kb) included doesn't work, it doesn't produce any output file. Therefore I went back to the previous one (34kb) and this created the needed roms. The new roms matched what was needed and the game works in HBMAME.

The last time I spoke to the coordinator he was against adding this to MAME. This "might" change after CAX, i do not know. However the game will be fully supported

[2018-12-14 08:09] #35 closed, assigned to jessaskey

[2019-01-22 22:20] jessaskey opened #36 "Seems like the Anti-Gravity boots are 'faster' than normal"
In comparison to other levels, the anti-gravity boots may be animating substantially faster. I saw this on level 25 so it may just be that the speed of that level is so fast that this makes sense, but it should be checked out.

[2019-01-22 23:19] jessaskey opened #37 "Attract Mode 'Story' continues past end"
During the attract mode, the Major Havoc story scrolls up the screen. At the point where it says 'End of Text', the story typically stops and the attract mode goes back to the launch sequence. In the current build 0.22 the story seems to 'keep going' and displays other random messages, not sure how long it goes but it goes for awhile displaying the text messages embedded in the program ROM for the

[2019-01-23 13:56] #34 closed, assigned to jessaskey

[2019-01-23 13:58] jessaskey commented on #37
This is now fixed.

[2019-01-23 13:58] #37 closed, assigned to jessaskey

[2019-01-23 13:58] #33 closed, assigned to jessaskey

[2019-01-23 13:58] #32 closed, assigned to jessaskey

[2019-01-23 13:59] #29 closed, assigned to jessaskey

[2019-01-23 14:02] jessaskey opened #38 "Rearrange ROM Maze Data to be Editor Friendly"
In the main game program from Atari, maze related data is spread all over the ROM's and also bound by executable code. it would be great if we could make the Maze data 'modular' so that the Major Havoc Level Editor could easily dump out a full 28 levels of maze configuration data and also be 'unbound' by code location constraints.

[2019-01-23 14:04] jessaskey opened #39 "Add in Credits/Thank you page"
It was forbidden in 1983 for designers to put their names into a game. That started changing a few years later so it would be nice to put in a listing of the original design team along with folks that helped with The Promised End.

[2019-01-24 04:58] jessaskey commented on #39
This is done.... the way it is currently coded is that 25% of the time after the long story text in attract. The design team names will be shown. Once we get new mazes from folks, then I will add their names later.

[2019-01-24 08:19] MajorHavoc commented on #39
That is correct.  The place where the story is was actually the credits screen. I suggest that every other attract mode to that area alternate between the story and the credits. So the first time you see the story. The second credits, then story, the credits etc. I always thought scrolling credits would have been cool, and I added them and was immediately told they had to be removed.

And if space

[2019-01-24 15:44] jessaskey commented on #39
Okay, thanks.... this is perfect. I will use what you have above for a list of the Original team and also do the alternating thing you suggest on the attract mode.

[2019-01-24 18:31] MajorHavoc commented on #39
The reason I suggested the other way, basically replacing the story part of the time, (and 25% of the time is fine)is that many people don't sit through the story or spin the controller and will never see it the credits.  Remember, the story is already after a long instructions screen. So credits would be after a long story, way down.

Think about it.
-Owen-

Sent from my iPad

[2019-01-25 23:39] #38 closed, assigned to jessaskey

[2019-01-25 23:40] #39 closed, assigned to jessaskey

[2019-01-25 23:44] jessaskey opened #40 "Build the 'final' maze sequence"
This will be the way Owen envisioned it where there is a 'super' maze that has multiple reactors. Due to coding restrictions, there will be 4 levels in one here that are 'stitched together' to seem like one big maze. Transporters will take the player between the sections of the mazes and the coding is done for the cross-level transporting... just need to build the mazes now. Once I get the level e

[2019-01-25 23:46] jessaskey opened #41 "make a landing sequence for homeworld (Vaxxx\Maynard)"
Need to come up with a doable little sequence for after the player defeats the final space station.

[2019-01-25 23:47] jessaskey opened #42 "Self Test Color RAM test only shows one color"
On the last screen of the Self test, there should be 16 colors with 8 color intensities each, currently there is only a GREEN column and it is out of position in the upper left corner and not left-center.

[2019-01-25 23:48] jessaskey opened #43 "Give player an 'Icon' after completing homeworld."
If the player finishes the homeworld, they will get a little icon next to their score and it will also show in the High Score screen.

[2019-01-26 00:29] jessaskey opened #44 "Make 1 new Music Background for Final Maze"
Make another Havoc sounding track for the final maze. I actually was watching Wargames the other day and the theme music when they show the WOPR computer is pretty cool, maybe something like that. :-)

[2019-01-26 00:49] jessaskey commented on #44
Here is the track from the soundtrack.... starts at 33:26

https://www.discogs.com/composition/87fa2114-23d6-41d2-83ea-df4f29b1f396-Wargames

[2019-01-26 02:20] jessaskey commented on #42
On the last screen of the Self test, there should be 16 colors with 8 color intensities each, currently there is only a GREEN column and it is out of position in the upper left corner and not left-center.

[2019-01-29 00:58] jerkyspace commented on #44
I like the sounds linked below especially the initial creepy bass
heavy thrumming and "computing" noises the WOPR is making before the
movie horn stabs come in. Not sure if orchestra/horns are the right
fit through for a game that has been all about the cold dead silence
of space with only some creepy space station noises otherwise since
level 1.
Just looping the initial computer sounds would make

[2019-01-29 14:52] jessaskey commented on #44
Yeah, just those low base tones, gonna work with them now that I have the RPM driver figured out to the level where I can actually translate musical notes into the data tables. **Thanks for the links, that was the exact scene I was talking about**

I will post some stuff in this next version release (planned for next week... v0.22)

[2019-02-02 17:08] jessaskey opened #45 "Max Robot can pass through walls"
At maze wall transitions, the Max Robot can sometimes slip through a solid wall.

[2019-02-02 17:10] jessaskey opened #46 "Transporters are acting like they are in Final Maze (but for all levels)"
If you currently use the transporter on a level, you will transport to the next level. Bryan exposed this bug by deleting the OneWay on Level 3 and then entering the transporter, it took him to leve 4.

[2019-02-02 18:49] jessaskey commented on #46
I found the issue, with this... it was bad math... fix is done.. will be good in next release.

[2019-02-02 18:49] #46 closed, assigned to jessaskey

[2019-02-02 18:49] jessaskey commented on #42
Found the issue on this... somehow dropped a (-) negative on a positioning vector.

[2019-02-02 18:49] #42 closed, assigned to jessaskey

[2019-02-02 20:18] bakerhillpins opened #47 "MAME play test/preview of level when 2 plr game is selected."
When you launch MAME to play test a level, if you press 2 player start player 1 will play the test level but player 2 will play level 1 forever.

[2019-02-04 04:54] jessaskey commented on #47
Okay, this is fixed up and the underlying code got cleaned up a little too.

[2019-02-04 04:54] #47 closed, assigned to jessaskey

[2019-03-05 03:30] bakerhillpins opened #48 "This maze results in Endless Repeat of landing."
Running this maze in the MAME release causes the landing and dropping into the maze sequence to endlessly repeat.

So, in all fairness the OneWay and the Perkoid are not in "valid" positions so that may effect your decision to fix or not. I was testing some MazeObject placement code so I was strategically placing the maze objects by dropping with the mouse pointer at "known" reference points (spec

[2019-03-05 05:29] jessaskey commented on #44
I may come back to this but I actually played around with making this on the Pokey, it sorta worked, but I don't have the time to get the correct envelopes for the different instruments required. I ended up taking the existing maze enter music and sorta turning it darker (more minor) and offbeat overtones, so it is sorta similar but more foreboding. If I have time near the end, I will work on maki

[2019-03-05 05:29] #44 closed, assigned to jessaskey

[2019-03-05 21:46] bakerhillpins commented on #48
Ok, so this isn't an issue with the changes I made to Level2. Just loading the PE ROM mazes and then launching Level 2 in MAME and it loops forever. In this case (no changes to level2) I can hear the Maxbot saying alert and the screen follows the path that Rex would take but there isn't any Rex drawn on the screen.

I'm running HBMAME64  0.205.

Oh, it might be useful to record the MAME file versi

[2019-03-05 21:49] jessaskey commented on #48
Okay, I will check this one out tonight and see if I can duplicate it. I suppose I should try and include as much info as possible like you suggest, MAME version, Template ROM’s versions, etc.

From: bakerhillpins <notifications@github.com>
Sent: Tuesday, March 5, 2019 2:47 PM
To: jessaskey/mhavocpe <mhavocpe@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [jessaske

[2019-03-05 21:53] bakerhillpins commented on #48
Level3 - MAME just locks up. Level4 resets back to Attract mode.

There is something funky going on. I can only play level 1.

[2019-03-05 21:57] jessaskey commented on #48
Hmmmmm… I can run Level 4 just fine, but I did notice that the Sparkoids aren’t moving. I did push several changes to the DEVELOPMENT branch (specific to maze template and files)… make sure you have that and that you only have the mhavocpe.exp file in the template folder along with the ROMs.

From: bakerhillpins <notifications@github.com>
Sent: Tuesday, March 5, 2019 2:53 PM
To: jessaskey/mhavocpe

[2019-03-05 21:59] jessaskey opened #49 "When deserializing ROM's Sparkoids have 0,0 velocity"
Looks like something is wrong in the MHAVOCPE deserializer, I am getting empty velocity values in the editor.

[2019-03-05 22:04] bakerhillpins commented on #48
I just merged in your changes and now everything is working. Sorry about that. We can close this. DOH!

[2019-03-05 22:48] jessaskey commented on #48
Coolio.. im working on the sparkoid bug now while we drive to denver
________________________________
From: bakerhillpins <notifications@github.com>
Sent: Tuesday, March 5, 2019 3:04:22 PM
To: jessaskey/mhavocpe
Cc: Jess Askey; Comment
Subject: Re: [jessaskey/mhavocpe] This maze results in Endless Repeat of landing. (#48)

I just merged in your changes and now everything is working. Sorry about th

[2019-03-11 02:23] jessaskey commented on #49
Fixed as of 0.26

[2019-03-11 02:23] #49 closed, assigned to jessaskey

[2019-03-11 02:23] jessaskey commented on #48
Fixed in 0.26

[2019-03-11 02:23] #48 closed, assigned to nobody

[2019-03-11 02:24] jessaskey commented on #31
Fixed in 0.26

[2019-03-11 02:24] #31 closed, assigned to jessaskey

[2019-03-11 02:24] jessaskey commented on #25
Complete as of 0.26

[2019-03-11 02:24] #25 closed, assigned to jessaskey

[2019-03-21 17:25] jessaskey opened #50 "True up Warp Scores against Play-Through scoring"
Need to get a straight play-through from Jerky so that I can make sure that the warp bonus scores are slightly less to ensure that folks playing through all levels have a scoring advantage.

[2019-04-09 16:51] jessaskey opened #51 "Change final ship to VAX Mainframe"
Owen and Scott came up with an idea to make the final Space Station into a VAX mainframe instead of the more BORG'ish looking CUBE... I think it will look good.

Star Castle shields should be RED in the end too.

[2019-04-09 16:53] jessaskey opened #52 "Add in Self Test option to Double + Quadruple the LETA counter"
Scott suggested having a self test option to let the LETA multiplier be set in Self Test to overcome the challenges of folks using a Tempest Spinner. His suggestion is for the following 3 options.

1. Normal
2. Double
3. Quadruple

[2019-04-10 05:22] MajorHavoc commented on #52
It's a smart idea. If you have time. Be careful this does not become a
career with lots of add one.

-Owen-

On Tue, Apr 9, 2019, 9:53 AM Jess Askey <notifications@github.com> wrote:

[2019-04-10 12:24] jessaskey commented on #52
Yeah, this will get put together with the Self Test code to modify settings without needing to dig into the cabinet and set the DIP switches. It is certainly a luxury item.

From: Owen Rubin <notifications@github.com>
Sent: Tuesday, April 9, 2019 11:22 PM
To: jessaskey/mhavocpe <mhavocpe@noreply.github.com>
Cc: Jess Askey <jess@askey.org>; Assign <assign@noreply.github.com>
Subject: Re: [jessaskey

[2019-04-18 12:59] jessaskey opened #53 "Perkoid Behavior is odd"
from Jerky:

Level 3 Perkoid11 and 12 start out paired together one above the other. They have the same velocity and horizontal start point. However when they bounce off the first wall to the right they become offset somehow...one behind the other instead of a pair right on top of each other.  It looks like Perkoid12 is taking longer to turn around and follow Perkoid11 right after they hit the fir

[2019-04-18 13:00] jessaskey opened #54 "Reactor invisible obstacle"
From Jerky:

I am still getting "stuck" on Reactors here and there like an invisible wall comes up to the right of them when you set them off. I feel like I should be able to move to the left and set off a reactor and then immediately dial away to the right. Instead I hit an invisible barrier I have to jump over/through. Very noticeable the new Level 13 Ion Think I Can (and Level 22 Space Dock see

[2019-04-18 13:01] jessaskey opened #55 "Perkoid Shot Behavior"
From Jerky:

Are Perkoids not firing their shots far enough on some levels? Check out Level 14 (akak RTV Level 22) and Perkoid62. I recall that it's shot just made it into the Cyan Transporter to the right but not through it. When you come back through it after getting the green key you had to worry about getting fried by that Perkoid shot in the original versin. Now it comes up short but the loca

[2019-04-18 13:02] jessaskey opened #56 "Maze Death Sequence Incorrect"
From Jerky:

Occasionally when you die in mazes...it gives you the end of maze level big explosion as well as frying you down to your bones when you die. The big explosion should just be for when you blow up a reactor/ship/maze right? See Level 22. Might be level/editor build specific since I don't see it in other levels all the time especially 1-12 and the original 13-16?

[2019-04-18 13:03] jessaskey commented on #36
More from Jerky on this:

The red boots still occasionally drag the player up into the roof like on Level 22 when you first grab the boots. I also don't remember the game dragging the player downwards before the anti gravity power kicked in either. Wasn't it just a short pause and you stayed at the same x,y location then they kicked in?

[2019-04-18 13:05] jessaskey opened #57 "Speech Not working on Physical Hardware"
Something is going on with Speech, after burning ROMs for v0.33, I noticed that the speech was not working (maze countdown or oxygen death).

[2019-04-19 02:36] jessaskey commented on #56
Im pretty sure this doesn't have anything to do with the level editor but probably more of a bug that exists in the new builds (level editor template and game ROM's)...  I have seen it happen before as well but figuring out a pattern has been difficult.

[2019-07-06 04:51] jerkyspace opened #58 "L13+ Transporter Vector "Static""
Looks like a broken glass effect on screen originating from center of some Transporters Level 13+.

[2019-07-06 04:52] jerkyspace opened #59 "Escape Pods have MH logo overlaying them"
Escape Pods on all levels have a partial Major Havoc logo drawn over them. They work fine otherwise.

[2019-07-06 04:53] jerkyspace opened #60 "Warp Codes coming up as 00 or 000"
Warp codes are being generated as all zero's. Very easy to warp by accident since warp code entry starts at 000.

[2019-07-06 04:54] jerkyspace opened #61 "Maze Hints not appearing level 13+"

[2019-07-06 04:54] jerkyspace opened #62 "Level 18 "invisible wall" blocking shots from IonCannon38"

[2019-07-06 04:55] jerkyspace opened #63 "Player ship appears at start of Level 20 but nothing else happens"

[2019-07-06 04:57] jerkyspace opened #64 "Regular Level 22-24 transporters don't work right"
When passing through them you often end up in broken maze...either the same one or looks like it tried to advance to next one as if Flashing one. Some work one direction but level breaks when you go back through (like Cyan one on Level 24).

[2019-07-06 04:59] jerkyspace opened #65 "Level 23 maze won't play due to broken Star Castle battle"
Fighters act like they are wall sections that you cannot destroy. You can rack up tons of points but nothing every is destroyed. Walls cannot be destroyed either. Maze does not load even after bonus timer runs out.

[2019-07-06 05:00] jerkyspace opened #66 "Level 24 maze won't load"
Star Castle battle begins but no enemies nor wall sections. Cube just sits at top of screen and does nothing. Maze never loads even when bonus timer runs out.

[2019-07-06 05:02] jerkyspace opened #67 "Level 26 IonCannon issues return"
I am pretty sure these were "fixed" in the last round of changes you guys made to restore all the problem IonCannons back to normal. But now the Level 26 cannons are moving too far horizontally and missing their intended target key shafts like in the playback video I shared. If you can fix these however you did before great. Otherwise let me know if I have to adjust the programs myself. No changes

[2019-07-06 05:07] jerkyspace opened #68 "Level 28 IonCannons detach from ceiling"
As these cannons patrol the key rooms they are near the intent was to have them stay attached to the ceiling where they are drawn. Their lower support arm/cannon moves down around and through to the hallways below the key room they start above and then come back up to the top. But when they lower past the horizontal plane of the key room ceiling below them the blue base "hops" down with the extend

[2019-07-06 05:10] jerkyspace opened #69 "Speech reactor countdown offset from actual countdown and then starts new countdown"
This happens especially on Escape Pod levels where it keeps counting down as the Pod makes its way to the fighter at the top after actual clock stops counting when the player enters the pod. When it gets to zero it switches to another "voice" and starts a new countdown from 9.

[2019-07-06 05:14] jerkyspace opened #70 "Breakout game issues"
You still have balls disappear that sometimes keep playing out of view for a few moments. Happens mostly when you more than one ball in play and first ball gets past player...others vanish right away...but sometimes those ones keep playing and taking out blocks until it falls past player or timer runs out for minigame.

You can keep making the ball appear over and over if you move your paddle out

[2019-07-06 05:14] jerkyspace opened #71 "Warp code entry stops appearing after Level 12"
...but comes back around Level 21 and 22 briefly.

[2019-07-06 05:15] jerkyspace commented on #62
This had been temporarily fixed an Editor version or two ago but it came back in the latest rom release 0.41

[2019-07-06 16:27] jerkyspace opened #72 "Doh! Speech FX too repetitive"
The speech FX that plays when you bump your head/hit walls too hard is too repetitive often repeating more times than the actual collision. It's even worse if you get stuck in the gap between the ceiling and a left up or right up wall section.

Suggestion : Limit the times it makes this getting to be really annoying sound all due respect. Maybe only when you hit your head and make sure it never re

[2019-07-06 19:04] jessaskey commented on #67
I think what may have happened here is that Bryan 'converted' the old incorrect IonCannon pauses and had a fixed .mhc file... but Im wondering if you have an older 'non-fixed' version that is coming back now... did you get a new .mhc from Bryan at some point and switch over to that one or am I misunderstanding?

[2019-07-06 19:11] jessaskey commented on #65
So is this just in the Level Editor right? Because the only way to get to 23 in the 'normal' ROM's is via Transporter from Level 22. I sorta expect some stuff around this because I just assumed that levels 21-24 would work in the editor as stand alone levels but obviously there are some complications.

[2019-07-09 03:31] jessaskey opened #73 "Add ability for FPGA version to know Speech Commands"
Since Scott's FPGA won't do any TMS5220 emulation, he will need to have a way to know when a speech command is being played so he can play a .wav sample.

[2019-07-09 03:32] jessaskey commented on #73
When a speech command comes in to the GAMMA processor, the code will now write the Speech Index into RAM location $07FF. Scott should be able to monitor this to play speech samples.

[2019-07-09 05:49] #8 closed, assigned to jessaskey

[2019-07-09 05:49] #9 closed, assigned to jessaskey

[2019-07-09 05:49] #40 closed, assigned to jessaskey

[2019-07-09 05:49] #51 closed, assigned to jessaskey

[2019-07-09 05:49] #59 closed, assigned to jessaskey

[2019-07-09 05:49] #61 closed, assigned to jessaskey

[2019-07-09 05:49] #64 closed, assigned to jessaskey

[2019-07-09 05:49] #73 closed, assigned to jessaskey

[2019-07-09 05:54] jessaskey opened #74 "Make Launch Tube Triangles appear 'behind' Catastrofighter"
Similar to the way the Star Castle panels work, the Launch Tube triangles need to break at the boundary of the Catastrofighter to make it look like the tube is behind the ship.

[2019-07-09 06:13] jessaskey opened #75 "Top Map walls are missing after intra-level Transporter"
After the player transports from Level 21 into Level 22, the top map wall are gone. The enemies all seem to be correct however.

[2019-07-09 06:14] jessaskey opened #76 "Maze doors are 'Open' after intra-level Transport"
When transporting from Level 21 to Level 22, the maze doors are open, they should be closed.

[2019-07-09 15:17] jessaskey opened #77 "Max Robots should die when hit with Trip Pad Pyroid"
When a Max robot is killed via a Trip Pad Pyroid, it should die and explode in a somewhat dramatic fashion.

[2019-07-10 03:48] jessaskey opened #78 "Ship on Maze should not show on levels 22 and 23"
On the final space station, when the player moves through the different sections, the ship should not be shown sitting on the top of the maze.

[2019-07-10 04:18] jessaskey opened #79 "Shield seems to grown and shrink now if held down for many seconds"
The shield around Rex in the maze seems to change size slowly over time if it is held down. Must be some sort of issue with scaling.

[2019-07-10 04:21] jessaskey opened #80 "Shield Sparkle is weird after Intra-Level transport"
After a special transporter is used in the final space station, the shield around rex seems to be stuck on just wide green lines like during a transport.

[2019-07-10 04:26] jessaskey commented on #79
So oddly, I never noticed this before, but this is how the original version works... the shield actually gets bigger over a 5 second period and then shrinks back down again and repeats.

[2019-07-10 04:26] #79 closed, assigned to jessaskey

[2019-07-10 19:03] jessaskey opened #81 "Autostop Sounds in Self Test when advancing"
In order to keep sounds from clobbering each other in Self Test, when a sound is advanced, it should stop the current sound.

[2019-07-11 03:15] jerkyspace commented on #77
Ion Cannon shot or TripPad Fryoids? I still like the Trippad shot idea personally.

None of the current Maxoid levels have any IonCannons while they have been set up to lure Maxoids into the path of TripPad shots.

[2019-07-11 03:16] jerkyspace commented on #76
Hmmm...I have not seen this behavior via the roms nor the Editor stand alone. I will keep an eye out for it.

[2019-07-11 03:18] jerkyspace commented on #62
Back in latest rom release .42. during playback...but Editor version 1.1.888.0 is good.

[2019-07-11 03:21] jerkyspace commented on #66
Still get this in rom playback 0.42.

Using the transporter fixed maze collection in Editor 1.1.888.0 I get :

[ERROR] Unmatched Transporter : Transporter 48. Expected matching flashing Transporter in Maze.

That's without changing anything right from the mhc you sent me.

[2019-07-11 03:22] jerkyspace commented on #63
Still broken in romset playback 0.42.

Loads fine in Editor version 1.1.888.0

[2019-07-11 03:29] jerkyspace commented on #75
The red booties and the clock are missing as well but only when you play form 21-22. If you go right to 22 everything is fine.

Also when you select 22 and play through to 23 the red booties are missing on that level too. Again when you go back and select 23 the boots are there.

Finally when you go from selecting 23 to 24 you get stuck in outerspace again even if the bonus timer runs out. Same wi

[2019-07-11 05:05] jessaskey commented on #77
Whoops... you are right about this one... I changed it to be Trip Pad Pyroid instead of Ion Cannon Shot.

[2019-07-11 05:06] jessaskey commented on #76
It only happens on ROMs 0.42 during an Intra-Level transport. This will be fixed in 0.43 release.

[2019-07-11 05:10] jessaskey opened #82 "DEMO mode automatic makes difficulty EASY"
When the game is in DEMO mode, it defaults to being set on EASY. I think that in the end, the DEMO mode selection needs to be totally separate from Difficulty so that you can be in DEMO mode at any difficulty level. This is currently an issue because during testing I am releasing games in DEMO mode to make testing easy, however, that is also making the mazes unnaturally easy and we still want diff

[2019-07-11 15:26] jerkyspace commented on #82
All the play-testing and adjustments I have been making were under the assumption we have been working on rom builds at default medium difficulty even in this testing Demo mode. That's what HBMAME says it is set at as well and is what I have been working towards (3 life start/medium diff/extras every 100k/adaptive on/). I keep checking every time before I make speed related adjustments.

If you ha

[2019-07-11 15:38] jerkyspace opened #83 "Maze Hint(s) not appearing on Level 22>24"
The text for Maze Hints are appearing in the wrong maze (see below) v1.1.888.0 :

Level 21
Hint - "WILL AFFECT CLONE REGENERATION"
Hint2 - "MAINFRAME GRAVITY WELL"

Level 22
Hint - "FLASHING TRANSPORTERS ARE ONE WAY"
Hint2 - blank

Level 23
Hint - "SET OFF 4 REACTORS TO DESTROY MAINFRAME"
Hint2 - blank

Level 24
Hint - "ALMOST THERE...KEEP GOING!"
Hint2 - blank

Results 1.1.888.0 =
Level 21 "MAINF

[2019-07-11 16:18] jerkyspace commented on #77
I feel like it should take more than one shot to destroy them especially if we are still giving out 9999 points or something significant. I can let the player know in maze hints too (Level 25 and 27).

Maybe 3-5 "shots" to destroy them? Change Maxoid color to indicate damage state? Single and Double TripPad Fryoids should count as one "shot" I think.

Thoughts?

[2019-07-11 16:48] jerkyspace commented on #82
BTW does the IncrementingVelocity setting in the Editor for Pyroids and other enemies relates to dip switch difficulty level or Adaptive?

[2019-07-11 17:01] jessaskey commented on #82
So the difficulty works like this....

Easy Value = 00
Medium Value = 01
Hard Value = 02

If 'Incrementing Velocity' is set to True, then every few levels (Im not going to document that here because it depends on warps, how many times a player has died and number of levels completed) the Difficulty increases. So, if  game starts on EASY, then at like level 3, it will 'increment' to 01 (MEDIUM)...

[2019-07-11 17:54] jessaskey commented on #77
Once I get into coding this, we can figure out potential ideas.... there are certainly limitations on the coding side... I don't expect to get to this before CAX unfortunately.

[2019-07-11 17:54] jessaskey commented on #83
Okay, thank you for documenting this... I will assign this issue to the next release (0.43) and get it fixed up

[2019-07-12 23:21] jessaskey commented on #83
So, as I dug into this issue, I started getting confused because Im not seeing the Messages that you list above... here is the current list of HINTS for each level....

Hint 1 has an 'a' suffix below
Hint 2 has a 'b' suffix below - NOTE: I don't have any B hints for Levels 13-28...

give me how they should be here in this issue thread and I will get the set up correctly.

Level 13
mzh30a  .ctext "

[2019-07-12 23:24] jessaskey commented on #68
Looking at the code, it seems that the Cannon can't move more than 1 level away from the support top... so it can be on the same level or one level below it, but not two levels.

[2019-07-15 21:08] jessaskey commented on #67
Looking at the Cannon programs, there seem to be lots of 'extra' moves in there... seems like these are out of whack?

![image](https://user-images.githubusercontent.com/3683098/61249397-61964a00-a712-11e9-9c09-0c2ffb375f9f.png)

[2019-07-15 23:37] jerkyspace commented on #67
Will check this out tomorrow...but Marc Cerny used something similar on old
rev 3 level 16...now 20.

It moves the cannon one small "grid" at a time instead of one big move with
a longer waitframe time.

Seems like he knew how far that smaller move would be a multiplied it out
like animation steps or maybe it was easier to get exactly how he wanted it.

That's where I got the idea anyway. There st

[2019-07-16 18:06] jerkyspace commented on #82
Sounds good to me. Things are already at a good baseline so let's see
how it all looks at CAX and how other players react.

On 7/11/2019 10:01 AM, Jess Askey wrote:

[2019-07-16 18:20] jerkyspace commented on #68
On 7/12/2019 4:24 PM, Jess Askey wrote:

Well that's no fun but I figured I was drawing out of bounds again so to
speak. That's kind of my specialty ;)

I will see what I can come up with to bandaid this for now or modify it
to look less buggy but still keep the main design idea intact. All I
would lose by reigning in the cannons to just fire above and below the
"key rooms" is the shots that go in

[2019-07-18 00:02] jerkyspace commented on #67
Well it looks like all I had to do was divide the wait frame times for movement and pauses by 4...for all 120 instances of them for both cannons by hand. Go figure. FIXED.

[2019-07-18 15:24] jerkyspace opened #84 "HBMAME Bonus Lives and Starting Lives Wrong"
This may be related to the other bug about EASY MODE.

HBMAME says everything is "factory default" with difficulty medium and extras every 100k and 3 lives to start (under dip switch settings).

But, game attract mode stills says extras every 50k with 4 lives to start and plays that way in game in NON-DEMO mode 0.44 romset. Will check DEMO MODE roms later today/this weekend and report if same.

I

[2019-07-18 15:37] jerkyspace commented on #82
Anyway you can check and verify what difficulty setting the most recent 0.44 "production" NON-DEMO romset is set at?

There are dip swich already with Bonus Lives and Starting Lives. I just started playing the 0.44 NON-DEMO roms and everything seems too fast as if its actual set to HARD diff this time.

My baseline is comparing where the player is versus the pyroids on the Level 2 maze. Last roms

[2019-07-18 15:49] jerkyspace commented on #82
It would probably take a while understandably given all the parameters, but being able to playback a level in the editor via HBMAME exactly like it would in the game as far as diff settings and how the adaptive diff/incrementing velocity would actually be/react would be a dream feature if possible.

It also seems like by taking the "operator needs" out of the equation we could reduce the number of

[2019-07-18 15:58] jerkyspace commented on #82
Here is the Rev3 Factory Default playback game I have been using as a reference to see where maze enemies should be in relation to the player and how fast they should be moving versus what we are seeing in these recent rom releases with dip swicth setting issues.

Like DigDug level 1...the maze on Level 2 of Major Havoc was where we could tell if a machine was set to easy, medium or hard settings

[2019-07-18 16:10] jerkyspace commented on #82
Confirmed.

Current 0.44 romset DEMO-MODE plays as EASY diff still or close to it as I can tell since I have changed the speeds of some things already to try to get it back to MEDIUM DIFF before we found out it was stuck at EASY.
(50k bonus lilves and 9 to start)

Current 0.44 romset NON-DEMO-DEMO plays as HARD diff from what I can tell
(50k bonus lives and 4 to start)

And in BOTH romsets HBMAME

[2019-07-18 16:17] jerkyspace opened #85 "NON-DEMO MODE automatic makes difficulty HARD"
See my notes in the other Issue thread about DEMO-MODE automatically being set to EASY difficulty.
https://github.com/jessaskey/mhavocpe/issues/82

0.44 NON-DEMO MODE rom set appears to be set to HARD difficulty despite HBMAME showing everything at factory default. Starting lives are also set to 4 instead of 3 and extras every 50k instead of every 100k.

Again here is a good reference video showin

[2019-07-20 15:31] jerkyspace commented on #68
This can be cleared out now that I have re-worked this level to avoid this bug :)

[2019-07-20 16:03] jerkyspace opened #86 "Booties vanish after using Flashing Transporters on Level 21-24"
Same thing as in the Editor. When you use the Flashing Transporters from level 21>22, 22>23 and 23>24 the Booties vanish from the maze map as you enter from the previous section/level. When you play level 22,23,24 from the Editor or select them directly in Demo-Mode they are where they are supposed to be.

We need to keep them on the maze map when transporting in from other levels....but also deac

[2019-07-20 16:57] jerkyspace opened #87 "3 Red Lines instead of 2 every 4th Outer Space Wave"
On every 4th outer-space wave there are now 3 red lines/booms instead of 2. Did this carry over from the Star Castle battle on Level 21?

[2019-07-20 23:25] jerkyspace commented on #62
Still an issue in 0.44 DEBUG DEMO romset.

[2019-07-20 23:33] jerkyspace commented on #63
Same issue in 0.44 DEBUG DEMO romset.

[2019-07-20 23:41] jerkyspace opened #88 "Reset Shields After Flashing Transporters on Level 21-24?"
Not sure if we ever considered this but if you use your shields up on Level 21 for example...you have no shields for the rest of 22-24.

Maybe we should reset them when passing through Flashing Transporters to next section? Or just one charge of shields for all of 21-24?

[2019-07-22 23:21] jerkyspace commented on #65
This also still happens in the DEMO romset 0.44 only when you select the level directly form the start of the game.

[2019-07-22 23:22] jerkyspace commented on #66
Also doing this in DEMO romset 24 only when you select this level directly in Demo Mode from the start of the game.

[2019-07-23 14:18] jessaskey commented on #83
Jerky... LMK if this is looking okay now and I will close it...I *think* everything should be in line now with your .mhc file?

[2019-07-23 14:19] jessaskey commented on #67
okay, thank you.... I will mark this as closed and move it out of testing now.

[2019-07-23 14:19] #67 closed, assigned to jessaskey

[2019-07-23 14:22] jessaskey commented on #88
Maybe the number of hits should just increase for the whole scenario or do you think it would actually just work better to reset them in each section? Either one is pretty straightforward to do, you can give best guidance on gameplay tho.

[2019-07-23 15:19] jerkyspace commented on #63
Still a problem in 0.45 romset whether you select the level from Demo mode or play up to it from 1-19 or any combination of levels before it. Does the same thing in NON-DEMO mode romset.

It gets stuck with the fighter sitting on the screen. Nothing loads after that :(

[2019-07-23 15:19] jerkyspace commented on #62
FIXED.

[2019-07-23 15:29] jerkyspace opened #89 "Red Key is lost when going from Level 21>22"
The player loses the Red Key when using the Flashing Transporter between level 21 and 22.

[2019-07-23 15:53] jerkyspace opened #90 "Objects outside maze still visible on Level 21-23"
You can still see the "hidden" extra Reactoids on the map blinking on Level 21-23 . The location I choose also is right on top of part of the scoring screen text. I can move it to avoid that but making them all "invisible" would be best is possible.

There also looks to be a pair of phantom Perkoids or other enemies that appear near the bottom left of Level 21 and then are at the top of Level 22-2

[2019-07-23 15:53] #86 closed, assigned to jessaskey

[2019-07-23 15:53] jerkyspace commented on #86
Fixed. They appear on Level 23 and 24 correctly when playing from 21 forward. The Booties also "reset" properly when passing between Level 23 and 24 thank you :)

[2019-07-23 15:58] jerkyspace commented on #83
Now with the 0.45 romset you don't get any Hints after Level 21 when you go through flashing transpos to the next Level 21>22, 22>23 and 23>24.

[2019-07-23 16:00] jerkyspace commented on #83
I renamed this to get your attention :)

When we get them back to appearing I can check if they are still out of order or not.

[2019-07-23 16:12] jerkyspace commented on #88
Resetting them for now might be easier for the player to follow with the existing rules (can absorb 4 smaller shots or one big shot). Otherwise we would need to put up another maze hint to explain to them the new parameters/number of shots they can take.

[2019-07-23 16:54] jerkyspace opened #91 "TripPads not working on Level 22 and 23"
They are fine in the Editor v1.1.897.0 but when you playback in romset 0.45 none of the TripPads fire any Fryoid shots on Level 23.

[2019-07-23 19:08] jerkyspace commented on #82
So with the 0.45 romsets it appears to be in Medium difficulty....at first...but its still set to bonus lives every 50k even though HBMAME says it is at 100k.

Everything else seems okay up through Level 5 but then the maze enemies in Level 6 are not moving as fast as they should be according to my "reference" playbacks from Rev 3.
http://www.youtube.com/watch?v=33h5A_BT_VU&t=8m22s

The TripPads s

[2019-07-23 19:13] jerkyspace commented on #58
More specifically this "vector noise" centered on the Transporter happens...

When you exit the Yellow Transporter into the Reactoid room on Level 13.

When you exit the Green Transporter on Level 14 after picking up the Green Key.

When you exit the Blue Transporter on Level 14 after setting off the Reactor.

When you exit the Red Transporter on Level 15 just before IonCannon5.

When you exit the

[2019-07-23 19:22] jerkyspace commented on #69
So far this seems to be fixed especially when using the escape pod.

[2019-07-23 19:22] #69 closed, assigned to jessaskey

[2019-07-23 19:22] jerkyspace commented on #69
Fixed.

[2019-07-23 19:37] jerkyspace opened #92 "0.45 Demo Mode not quite Medium Difficulty/List of things that need to be adjusted"
So with the 0.45 romsets it appears to be in Medium difficulty at first...but its still set to bonus lives every 50k even though HBMAME says it is at 100k (this is also for me to document what needs to be sped up via the Editor as well eventually). But after Level 5 some enemies in some levels aren't "behaving" as expected (at least how they were in Rev 3 at medium difficulty).

We can go over how

[2019-07-23 19:55] jerkyspace commented on #62
Sorry. The invisible wall blocking IonCannon shots isn't there when you select this level directly...but still is when you play from Level 1 to it. Romset 0.45 DEMO.

[2019-07-23 20:52] jerkyspace opened #93 "After you finish Level 28 the game breaks"
After you play through the Hidden levels 25-28 the game tries to load a broken Level 29 and gets hung up.

Back to Level 1 or Demo Level Select?

[2019-07-23 20:57] jerkyspace commented on #87
The level 4 space battle only has 2 red lines now. But there are three from Level 8 forward.

[2019-07-23 21:00] jerkyspace opened #94 "Demo Mode Level Select of Level 26-28 gives huge "warp" bonus scores"
When using Demo Mode Level Select :

Level 25 awards 1,200,000 points

Level 26 awards 59,200,000 points.

Level 27 awards 4C,E60,000 points (1,290,141,696).

Level 28 awards D3,0F0,000 points (3,540,975,616).

I know we promised "more points" but this is a bit too much don't you think?

[2019-07-23 21:02] jessaskey commented on #93
Thanks for logging this.. maybe I will try and do a fast  'Yay... You reached the homeworld!' text page and award 500,000 points or something before CAX.
________________________________
From: jerkyspace <notifications@github.com>
Sent: Tuesday, July 23, 2019 2:52:44 PM
To: jessaskey/mhavocpe <mhavocpe@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [jessaskey/mhavocpe]

[2019-07-23 21:25] jerkyspace commented on #85
0.45 NON-DEMO romset still acting like Hard difficulty with bonus lives at 50k at Level 2 reference points (Level 2 made more difficult due to speed and position of Pyroids).

Level 12+ - Along with the triple red line issue on outer-space levels 8+ the hard difficulty makes them ever tougher from Level 12 forward (esp L16 with the 3 lines and amped up fighter shots). You can get a wall of red-lin

[2019-07-23 22:35] jerkyspace commented on #85
So for CAX I am leaning towards using whatever difficulty the current 0.45 romset DEBUG DEMO mode is at ("almost medium" haha) but with extra lives every 100k.

The current 0.45 romset acts like Hard Difficulty and has issues that could trip CAX players up early on Level 2, 9 and 13. Also the outer-space levels with 3 red lines instead of 2 are pretty hard to do without dying (12 and 16...20 won't

[2019-07-23 22:38] jerkyspace commented on #85
Also you cannot get past Level 20 with the current 0.45 NON-DEMO mode romset (hard) because you cannot select level 21 like you can in Demo mode to bypass this bug. I also haven't been able to test the cube space battle with collision detection which is the last thing on my check list I haven't done other than following up on the few remaining issues we should try to fix b4 CAX.

[2019-07-23 23:03] jerkyspace commented on #67
Sorry my bad. I had to re-open this because it still does it when you
play up to this level from Level 1 (does not in Demo Mode Level Select
though).

On 7/23/2019 7:19 AM, Jess Askey wrote:

[2019-07-24 00:20] jessaskey commented on #84
There is an explanation for all this but I don't think I have ever given it to you so... hopefully this makes a little more sense after you read this.

So, in the original havoc game, it was 'old school' in that you set the dips and then you played the game and it was like the dips said. Havoc was one of the last games like that because in games after this, they no longer had dip switches, you jus

[2019-07-24 05:59] #92 closed, assigned to nobody

[2019-07-24 06:01] jerkyspace commented on #92
Dip Switch settings for factory default work via Self Test now. Not sure if it actually defaults to the correct settings on its own the first time you play but once you set them they hold after you quit and come back and play again.

[2019-07-24 06:01] #85 closed, assigned to jessaskey

[2019-07-24 06:02] jerkyspace commented on #85
Self Test dip switch settings now working at least for factory default settings (med diff, extras every 100k, adaptive diff on and demo sounds on).

[2019-07-24 06:02] #87 closed, assigned to jessaskey

[2019-07-24 06:03] jerkyspace commented on #87
Fixed at least up to Level 19. Will check Level 20+ soon as we can play it ;)

[2019-07-24 06:03] #84 closed, assigned to jessaskey

[2019-07-24 06:03] jerkyspace commented on #84
Dip switch settings for these now working via Self Test mode settings.

[2019-07-24 06:06] jerkyspace commented on #76
Fixed as far as I can tell.

[2019-07-24 06:06] #68 closed, assigned to jessaskey

[2019-07-24 06:07] jerkyspace commented on #68
Non issue now. Re-designed level to work around this problem :)

[2019-07-24 16:26] jerkyspace commented on #90
Some of these objects come from broken TripPads on level 22 and 23 it seems.
https://github.com/jessaskey/mhavocpe/issues/91

[2019-07-24 16:26] jerkyspace commented on #91
Just noticed the Trip Pads are not working on Level 22 either. They are also the source of some of the the phantom objects described in another issue.
https://github.com/jessaskey/mhavocpe/issues/90

[2019-07-24 16:44] jerkyspace opened #95 "Extra Red Door on Level 22/Not appearing where it is drawn"
The extra red door on Level 22 is draw off the map in the romset you gave me...but when playing the Demo Debug romset 0.47 the red door appears just after the flashing transporter door and the transporter to level 23. Seems like an Editor bug?

It should be off the map just like it is drawn (new location now)...otherwise it uses up the red key too soon (no red key at the start of Level 23 now).

P

[2019-07-24 17:10] jerkyspace commented on #72
Still an issue 0.47 romset especially when you hit your head or get stuck under Left Down and or Right Down wall sections (hitting the vertical bit). Or hit your head on a wall above a Right Up, Left up or Vertical.

This triggers multiple "doh" speech loops and goes crazy if the player manages to get stuck in a small gap between walls which is another bug in itself I should list (where a LeftUp,

[2019-07-24 17:19] jessaskey commented on #88
Okay, this is now set up to restore fully after each flashing transporter.

[2019-07-24 17:23] #83 closed, assigned to jessaskey

[2019-07-24 17:23] #81 closed, assigned to jessaskey

[2019-07-24 17:23] #80 closed, assigned to jessaskey

[2019-07-24 17:23] #78 closed, assigned to jessaskey

[2019-07-24 17:23] #76 closed, assigned to jessaskey

[2019-07-24 17:24] #57 closed, assigned to jessaskey

[2019-07-24 17:24] #75 closed, assigned to jessaskey

[2019-07-24 17:25] #82 closed, assigned to jessaskey

[2019-07-24 17:29] jessaskey opened #96 "Create ending text after final space station"
Need to make at least a simple text scroll for after the homeworld for CAX

[2019-07-24 17:33] jessaskey commented on #89
Fixed in 0.46

[2019-07-24 17:33] #89 closed, assigned to jessaskey

[2019-07-24 17:39] jerkyspace commented on #83
Maze hints still not showing on Level 22-24. Not sure why this is closed but needs to be reopened.

[2019-07-24 17:40] jerkyspace opened #97 "ReOpen Maze Hints Not Appearing on Level 22>24 please."
Still  no maze hints Level 22>24.

[2019-07-24 17:41] jerkyspace commented on #91
I may have fixed this by moving some objects around slightly in these mazes. I have them working on 22>24 now after I moved some o2 objects slightly. But test and confirm in romsets before we close please.

[2019-07-24 17:43] jerkyspace commented on #90
This also may be fixed if my adjustment that go the TripPads working again on Level 22-24 take sin the romsets. Don't close until we see for sure but working now in Editor HBMAME (fixed trips pads = no extra objects where they don't belong).

[2019-07-26 06:04] jessaskey commented on #72
Okay, this should be removed in the 'final' 0.48 ROMset

[2019-07-26 06:09] jessaskey opened #98 "Warp Messages say wrong levels"
In the tact scan, when attaining a level that tells you a warp code, the warp levels are still the old levels before we reshuffled the levels so they are currently wrong.

[2019-07-26 06:27] jessaskey commented on #95
Okay, I moved this into a place where they don't get into the main maze play area. They are visible outside the maze but that will have to be good enough for CAX which should be fine. We will have to do some research on why these wrap into a funky spot and how we can limit them from being placed into 'bad' spots.

[2019-07-26 06:27] jessaskey commented on #95
The temp fix will be in v0.48

[2019-07-26 15:11] jerkyspace opened #99 "Level 21 IonCannon shots disappearing"
Playing from Level 17 forward in Demo Mode 0.48...

When I got to Level 21 the IonCannon18 shots were vanishing before they reached the end of the hallway (right at the end of the ceiling above them before the opening to come down into this hallway).

It's a slightly different version of the bug I reported in the Editor linked below.
https://github.com/jessaskey/mhedit/issues/76

[2019-07-26 15:16] jerkyspace commented on #91
TripPads not working on Level 22-24 (0.48 Debug Demo roms). Also looks like you used the wrong maze collection for this romset because the o2s on these levels aren't were I moved them to fix this issue yesterday. Re-adjusting them on these mazes now. Fixed in te Editor so will send you the updated maze collection again with the object tweaks to get the TripPads working again.

[2019-07-26 15:37] jerkyspace opened #100 "DeHand Not Working On Level 24"
So close...

(0.48 Demo Debug romset) Got the red key to Level 24 finally playing from 21 forward...opened the Red Door to the reactor  to make sure....and De Hand isn't working so you can beat the maze too early without going through the rest of it to turn De Hand off :(

Checked in the Editor and it works fine (1.1.909.0) when you load Level 24 up on it's own...but when I played from Level 23 to

[2019-07-26 15:59] jerkyspace commented on #99
This behavior is intermittent and maybe depends on where you play up to before this level/where you die on 22-24. It seems okay when you select this level directly in Demo mode.

[2019-07-26 15:59] jerkyspace commented on #97
Fixed.

[2019-07-26 15:59] #97 closed, assigned to jessaskey

[2019-07-26 16:32] jerkyspace commented on #91
Nevermind...we are chasing our tails on this one. We've lost the working changes I made yesterday and I can't get it back to how it was working in Editor and playing 21-24 with the TripPads working.

Now I get them working in the Editor but when you pay 21-24 the trip pads on 22-24 don't work (creating phantom Fryoids off the map).

Must be due to flashing transporters and or inter level interplay

[2019-07-31 03:14] jessaskey commented on #99
We figured this out at CAX to be a transporter issue but as you know, you moved around some things so it wouldn't make Level 21 unpassable. So, I will keep investigating this post CAX now and hopefully come up with a solution in quick time.

[2019-07-31 03:16] #98 closed, assigned to jessaskey

[2019-07-31 03:18] #91 closed, assigned to nobody

[2019-07-31 03:20] #100 closed, assigned to jessaskey

[2019-07-31 03:20] jessaskey commented on #96
This is done but will probably change, the text that is in there now is sorta crappy and the game is too hard for anyone to actually reach it currently. :-)

[2019-07-31 03:20] #96 closed, assigned to jessaskey

[2019-07-31 03:21] jessaskey commented on #94
Fixed pre-CAX 2019

[2019-07-31 03:21] #94 closed, assigned to jessaskey

[2019-07-31 03:21] #95 closed, assigned to jessaskey

[2019-07-31 03:22] #88 closed, assigned to jessaskey

[2019-07-31 03:23] jessaskey commented on #93
For now if you play level 28 it will just wrap back to Level 1... since Level 28 will be a hidden level, that is fine for now.

[2019-07-31 03:23] #93 closed, assigned to jessaskey

[2019-07-31 03:25] jessaskey commented on #72
Im curious on this so I reopened it... it seems that Bryan found this bug too where Rex is able to get stuck between a half-wall and the wall above it, then Rex gets stuck in there and just does the head collision sound over and over again. Now that the speech has been removed from the head smashing sound, do things sorta behave better now?

[2019-07-31 03:26] jessaskey commented on #63
I fixed this pre-CAX...so it should be good as of v.50.. maybe even .48 or .49

[2019-07-31 03:26] #63 closed, assigned to jessaskey

[2019-08-01 01:26] jessaskey opened #101 "Text jumps around in High Score table when fireworks explode"
There seems to be a rendering issue in the High Score routines with the Fanfare display from Space Duel. When the Fireworks explode, the 'Player 1' or 'Player 2' (which ever is appropriate) jumps over to the right like the positioning vector is either the wrong scale or the explosion routine is using a conflicting memory location.

[2019-08-04 13:51] Robbbert opened #102 "hash codes of 4 roms don't match"
The CRC/SHA1 of mhpe.1mn, 1l, 1q, 1np do not match the HBmame pull request. It appears those roms were updated after the PR was submitted. Should I just use the new hashes that HBmame has provided? The game appears to work.

[2019-08-11 15:17] jerkyspace opened #103 "0.50 Romset - Can't Select Demo Mode from Self Test"
In HBMAME I wasn't able to activate Demo Mode from Self Test. You can select Demo Mode but when you press shield twice to confirm it jumps back to Hard Diff.

We still want to allow people to explore all the new levels so Demo Mode should be included and working (and at medium difficulty so it plays the same as Factory Default in the mazes otherwise).

[2019-08-11 17:15] jessaskey commented on #103
I forgot about this issue that we saw at CAX... thanks for logging it. Im going to fix this today hopefully and cram it into a new 0.50 release and get that version pushed into the Editor as well. Hold tight.

[2019-08-12 15:27] jerkyspace opened #104 "Make Fishoids Level 13+ Easier"
We talked about this at CAX 2019. The Fishoids are just too hard from Level 13+. If you don't line them up right at the start it's like a coin toss on whether you live or die. Sometimes one or two peel right off the circle formation when they are right above the player and kill you right away too.

They dive down too fast onto the player in general.

They too often jump over to the outsides of the

[2019-08-12 15:30] jerkyspace opened #105 "Get rid of the super fast shot that outerspace fighters make on higher levels"
Another thing we all saw and talked about at CAX 2019.

On the higher levels the Fighters on the 2nd and 4th levels (Star Castle Battle on L21 too) will occasional fire a super fast shot (just after their normal grouping of slower shots) that the player cannot possibly dodge. It also seems it evades collision detection occasionally as well making it even more random and unfair.

[2019-08-12 15:33] jerkyspace opened #106 "Dial back the difficulty of the 4th outer-space "boom" waves"
On the higher levels the angry red lines are just too angry while the fighters too fast and hard to deal with (also has the super fast shot issue). These waves need to be a little more reasonable because it seems like a miracle to get through without dying sometimes from Level 16+.

Slightly slower red lines (booms) and dial the fighter movement speed and shots back just a bit and this will be muc

[2019-08-12 15:57] jerkyspace opened #107 "Change Hidden Levels maze wall color from white"
Maybe the Hidden levels maze walls should be the normal green or yellow/amber since they are located in the L1-20 zone prior to the Mainframe Cube.

I think it is picking up the white walls from the mainframe sections because they are located in the Level 25-28 slot right after it.

If possible maybe do a slightly different type of Starbase when you land as well or at least the normal type found o

[2019-08-14 01:02] jerkyspace opened #108 "Self Test number of lives selection not taking properly above 6 lives"
In the new romset 0.51 I just noticed that when you try to change the number of lives in Self Test it gives you a different value than you selected for certain values (sort of like the Demo Mode>Hard Diff bug).

I tried to set it up to Demo Mode with 9 lives but after confirming it said 6 lives instead. I tired selecting other values and they seemed to come back predictable results : Selecting 8 l

[2019-08-14 01:29] jerkyspace opened #109 "Romset 0.51 and Editor v1.1.959 production roms using wrong maze collection"
The mhavocpe_jerky_officia.mhc that I used to make those recent playback vids from the Github site has the correct post CAX maze collection edits I made....but the new romset 0.51 and editor do not.
https://github.com/jessaskey/mhavocpe/blob/master/Levels/mhavocpe_jerky_official.mhc

The last Editor version's production roms were not updated to the official mhc you put on github and I think you us

[2019-08-14 01:53] jerkyspace opened #110 "Self Test coin selection wrong values when confirmed too"
0.51 romset. When try to change from Free Play to other coin values it goes back to Free Play after you confirm by pressing shield x2.

Good news is that Bonus Lives, Adaptive Diff and Attract Mode Sound settings all seem to work and allow changes properly :)

[2019-08-14 01:53] jerkyspace commented on #103
Fixed thanks!

[2019-08-14 01:53] #103 closed, assigned to jessaskey

[2019-08-14 04:44] jessaskey commented on #108
Okay, I see the issue here... the way the DIPS are defined in HAVOC is that there are only 4 options for bonus lives. They different based upon the coin mode. Because of that, I am stuck with only 4 bonus live options... Im going to make it use the 3,4,5,6 range for now and I will get it fixed in the 0.52 release.

Later down the road, Im going to redefine all the DIPS for mhavocpe and give 3 DIP

[2019-08-16 01:24] jessaskey opened #111 "Allow Reactor to be 'BIG'"
Owen would like it so that the Reactor can be EXTRA LARGE on the final space station. So the reactor will need a new property that will allow the designer to have both sizes. Right now I think we are targeting a reactor which is 4x as large. It would look something like this...

![image](https://user-images.githubusercontent.com/3683098/63137190-542ee280-bf92-11e9-9c1e-c000ca7fc1d6.png)

[2019-08-16 01:25] jessaskey commented on #111
Oh, it obviously won't draw that heavy as it will use regular vectors, but this is a concept drawing.

[2019-08-16 01:28] jessaskey commented on #103
Re-Fixed in Release 0.51

[2019-08-16 01:33] jessaskey commented on #107
I will check this out, I think you are correct, the hidden levels should be Green maze walls.

On the different bases, it is sorta vector ROM intensive to make a whole new set of 'shapes' because the shape has to be drawn several times... Tact Scan Center, Tact Scan Upper Right, While fighting in space and then during landing. So it has to exist 4 times for each shape, that is a big reason why the

[2019-08-16 01:37] jessaskey commented on #104
So I think I can do three things here that you have above or we have talked about in person

1. Slow them down a bit in general.
2. After Circling 3 times, have them go back up.
3. Widen the circles or limit how small the circle can get.

[2019-08-16 01:38] jessaskey commented on #102
Okay, Im getting this figured out, we had a handful of bugs in that 0.50 release and im now on 0.52 after bugfixes... after a couple more days of 'all clear', then I will update the code and pull request code to match the 'final' CAX ROMset. thank you for pointing this out!

[2019-08-17 13:29] jessaskey opened #112 "Add ability for a second attract mode choreography sequence"
For the sake of randomness and other easter eggs, add in infrastructure so that there can be multiple choreography sequences in the maze during attract mode.

[2019-08-19 18:47] jessaskey commented on #111
Okay, this is implemented in ROM's from 0.52 forward. As Jerky pointed out, the rendered version in the game is a tad too big, so further tweaking of the image will continue to be refined. I will close this ticket for now however since is at least there. Also in Level Editor v1.2.986.1 and beyond, the larger reactor image looks much better... see below...

![image](https://user-images.githubuserco

[2019-08-19 18:48] #112 closed, assigned to jessaskey

[2019-08-19 18:49] #111 closed, assigned to jessaskey

[2019-08-19 18:49] #108 closed, assigned to jessaskey

[2019-08-19 18:50] jessaskey commented on #109
Updated in Release 0.52 with file version "MHPE 119641 08172019.mhc"

[2019-08-19 18:50] #109 closed, assigned to jessaskey

[2019-08-19 18:50] jessaskey commented on #110
Fixed with some bitflag fixing.

[2019-08-19 18:50] #110 closed, assigned to jessaskey

[2019-08-20 18:03] jerkyspace opened #113 "Level 21 Star Castle battle change enemy type name?"
In the HUD before the star castle battle the Enemy Type = Mainframe. Do we want to change that to Mothership to match the end game text and updated maze hints?

[2019-08-28 15:55] jerkyspace opened #114 "Maze Map Walls Invisibile Levels 1-3"
0.52 romset
0.212 HBMAME

The maze map at the top of the screen isn't visible on levels 1-3 but comes back on level 4. You can see the enemies and objects but no walls.It also blanks out the Oxygen and Reactor time values.

When I go back to other levels using save states (the next day) the same thing happens on different levels (other than 1-3).

After you play another level or few the borders an

[2019-08-29 15:34] jerkyspace commented on #62
Still an issue in 0.52 romset. Same invisible wall at same location blocking IonCannon9 shots from going all the way down the hallway. Doesn't do this in Editor 1.2.986.2 from HBMAME though (0.212). Also doesn't do it if you select this level from demo mode. Only when you play from Level 1 to here.

[2019-08-29 16:05] jerkyspace commented on #99
0.52 Romset
0.212 HBMAME

Still seeing this when playing from level 1 to 21.

[2019-08-29 16:35] jerkyspace opened #115 "Level 22 TripPad64 firing faster + Running out of o2 too soon"
0.52 romset
0.209, 0.212 and 0.213 HBMAME

When playing via HBMAME TripPad64 and it's Pyroid/Fryoid64 is firing shots faster than when you play in the editor (1.2.986.2). It catches the player from behind too soon before they can escape into the next upper hallway (kills them right at TripPad66 instead of being slower and allowing them to escape upwards).

I have not made any changes to this level

[2019-08-30 05:00] jessaskey commented on #104
Okay, I made some code changes on this...  some general info before I go into what I changed. Firstly, the Fishoids level is configured to only have 4 stages of difficulty... Level 1, Level 5, Level 9 and Level 13... levels after 13 (17,21) are all the same difficulty of Level 13.

I made the Level 13+ stage of difficulty basically have the same 'speed' as Level 9 now. By 'Speed' Im talking about

[2019-08-30 05:12] jessaskey commented on #105
Okay, I *think* I found the fast shot. This will be fixed in 0.53 release, but Jerky you will have to tell me if you see that shot still happening.

[2019-08-31 02:38] jessaskey commented on #114
I can't seem to see this issue in 0.53 (my current build) and since I cheated and had a couple different versions of 0.52 out there to you, it may just be an issue with that particular 0.52 build that I put out there last. I can confirm that in 0.53 the map is there and the Oxygen and Reactor times are good, so Im going to just assign this to 0.53 and guess that it will be fixed in this next build

[2019-08-31 05:10] jessaskey commented on #106
I dug into this a little and from what I can tell, the fighters don't have a speed increase at all in the 'Type D' space wave (fighters with red bar). Im looking at the Red Bar code now to see how that works.

[2019-08-31 05:19] jessaskey commented on #106
Okay, I found the code for this, velocity of fighters was the same, but the shot speed did increase. This is actually the same issue as Issue#105. I tweaked the speed down a little more with a small increase to make this smoother and also much less steep.

[2019-08-31 05:25] jessaskey commented on #66
This is sort of expected behavior if starting directly on Level 24, those sections of the final maze need to play in sequence so you really need to start from Level 21 to test them out for now.

[2019-08-31 05:25] #66 closed, assigned to jessaskey

[2019-08-31 05:27] jessaskey commented on #65
Save as the Level 24 issue, you need to start these from Level 21 and play from there.

[2019-08-31 05:27] #65 closed, assigned to jessaskey

[2019-08-31 05:31] jessaskey commented on #58
Bryan and I saw this at CAX too and though we had a way to duplicate it but after CAX we were not able to get it to happen again. Have you been able to see this happen on the last maze sections? We saw it on Level 22 originally.

[2019-08-31 05:32] jessaskey commented on #58
I think this may have gotten fixed in our last minute CAX fixes that night.

[2019-08-31 16:26] jerkyspace commented on #58
Haven't seen any vector noise related to transporters on Level 13...but it is still really bad on Level 16 in the 0.52 romset. It usually starts on the exit of Red Transporter12. Usually very bad around Transporters 14 and 16 (Blue/Green).

I saw a little bit of it on Level 22 occasionally when exiting Cyan Transporter 33.

You don't see this when playing from the Editor...only when playing stand

[2019-08-31 16:50] jerkyspace commented on #114
I just noticed that on levels where the maze scanner borders and values for o2 and reactor time are missing...the o2 values are wrong or counting down too fast somehow (which I cannot actually see but am definitely running out way earlier than I should).

I first noticed this on level 20 in my recent play testing session that when I set off the reactor I didn't have enough o2 to go back around and

[2019-08-31 18:52] jerkyspace commented on #115
It seems like the latest version of HBMAME 0.212 is the problem. I tested the same romset 0.52 and didn't see any of the issues I did on Levels 1-3 so far. I can guess it will be the same for the problems I had on Levels 21-22.

Testing the rest of the levels out in 0.209 and will report back. Making a note that 0.212 HBMAME causes problems.

[2019-08-31 19:19] jerkyspace opened #116 "HBMAME save state issues ::: 0.212 and 0.213"
0.52 romset
HBMAME 0.212 and 0.213

The latest version of HBMAME are causing several issues that you will only see when using save states it turns out (maze scanner borders and walls missing; objects offset outside maze borders; missing oxygen values; oxygen running out too fast; missing reactor countdown values).

0.212 keeps the objects in the maze scanner where they belong but in 0.213 when you

[2019-08-31 19:20] jerkyspace commented on #114
This seems related to HBAME version issues with save states only. These problems go away in earlier version like 0.209. Closing for now.

[2019-08-31 19:20] #114 closed, assigned to jessaskey

[2019-08-31 19:21] jerkyspace commented on #115
This is may be due to changes in newer HBMAME versions 0.212 and 0.213 (save states only). I am testing with 0.209 and will report back. Closing for now.

[2019-08-31 20:22] jerkyspace commented on #58
Unfortunately (0.52 roms). I am seeing it again with HBMAME 0.209 on levels 13 and 14. On these levels you don't see it until you exit the first transporter of any pair and then it usually appears as you exit the other side.

Also seeing this on level 15 when you exit the red transporter.

Again not seeing this int he Editor when you go right to these levels.

[2019-08-31 21:14] jerkyspace commented on #115
Reopened.

It does this with version 0.209 too. When you play from Level 1 to 22 now the oxygen either runs out too fast or the reward value to start is wrong. So you run out of o2 on the way to the Cyan key and cant get back to the reactor now.

The same TripPad Pyrod/Fryoid is also moving faster and catches the player by the second stalactite instead of being slower and allowing them to escape.

[2019-09-01 15:39] jessaskey commented on #58
Okay, thank you. I think we were trying from the editor, so I will go check into it now.

[2019-09-01 21:33] jerkyspace opened #117 "Game doesn't load Level 1 properly after you finish Level 24"
0.52 romset
HBMAME 0.209

I meant to mention this....after you finish Level 24 the heads up display shows the animation for the 4th wave "space fort" instead of the 1st one. It then lands you on a broken level 1. These levels should also be random colors right?

[2019-09-01 21:36] jerkyspace opened #118 "Finalize MegaReactoid Size"
I think the final reactor shouldn't be any bigger than the containment room it's in. The three control rods that raise up when you set it off should not touch the ceiling nor go past it as a reference point as well. I think maybe 25% bigger than what you had the first time would work great.

As it is now you pass through the outer walls before it sets off too as far as the collision detection goes

[2019-09-02 15:20] jessaskey commented on #54
I was looking into this and there is some code around the reactor that creates this invisible wall but it only does it on the center and right side... I actually feel like Rex should be able to move freely 'past' the reactor (but it causing the touch) just so there are no strange invisible walls. The Clock is similar in that it has an invisible wall, but it implements it from both sides and the on

[2019-09-02 16:59] jessaskey commented on #90
Okay, so for objects showing on screen that are not supposed to, Im going to do a position hack so that you can put them into a specific location and they will be skipped for drawing. The objects that will need to work this way are..

Level 21 (Section 1)

- Reactor

Level 22 (Section 2)

- Reactor
- Red Key
- Red Door

Level 23 (Section 3)

- Reactor
- Red Key
- Red Door

Im going to try this...

[2019-09-03 23:20] jessaskey commented on #116
So, something to keep in mind between the mhavocpe builds (v0.49,v0.50,v0.51,v0.52 etc).... the memory locations often shift around between builds. The reason this happens has to do with the variables in the havoc code and the way they are allocated. If a new variable is added, it may 'shift up' the older memory parameters... and the opposite may also be true, if I remove an unused memory variable

[2019-09-03 23:39] jessaskey opened #119 "Create vectors for 4 'secret' objects"
Need to create some objects for the 'secret' tokens that the player picks up. Need to be 4 of them.

[2019-09-05 04:17] jessaskey commented on #119
I created some initial tokens for the hidden levels.... will work to get these a part of the editor in the next release.

![image](https://user-images.githubusercontent.com/3683098/64311580-d727d500-cf61-11e9-8ef2-481b52e3ac34.png)

[2019-09-07 15:26] jerkyspace opened #120 "Level 22/23 Red Door does not appear where it's drawn in HBMAME"
0.53 romset
1.2.998.0 Editor
0.209 HBMAME
Testing within the Editor

I have been trying to place the Red Door (now Lock 1) outside the Level 22 maze as Jess instructed so it won't be draw in a specific X location (high byte 00xx). But no matter where I place it on the whole available Y axis it ends up on the other side of the maze at  x=10xx (at the same Y position).

So if I place it in the Edito

[2019-09-07 15:29] jerkyspace opened #121 "Make reactors on Level 21-23 invisible on maze map too"
0.53 romset
1.2.998.0 Editor
0.209 HBMAME

The reactors on Level 21-23 are no longer visible outside the maze when placed at X = 00xx, but you can still see the yellow flashing dot for them at that location on the maze scanner at the top of the screen.

[2019-09-07 15:53] jerkyspace commented on #116
This is save states within the same version which usually work fine. I don't expect ones from different version to work for the reasons you state. I wouldn't worry about it too much since it seems to be on the HBMAME side and doesn't affect normal gameplay.

[2019-09-07 16:44] jerkyspace commented on #62
0.53 romset

So the recent change that eliminates the "invisible" vertical barrier that is part of reactor objects does help the issues with it on levels 11 and 13...but I know why they put it in originally : it makes the object feel more "real" if you bump into it like you pressed the button to set it off (same for the clock).

It also keeps the player from flying through it and into the wall beh

[2019-09-07 17:04] jerkyspace commented on #54
0.53 romset

So the recent change that eliminates the "invisible" vertical barrier that is part of reactor objects does help the issues with it on levels 11 and 13...but I know why they put it in originally : it makes the object feel more "real" if you bump into it like you pressed the button to set it off (same for the clock).

It also keeps the player from flying through it and into the wall beh

[2019-09-07 17:23] jerkyspace opened #122 "Reactors move around slightly sometimes"
When you get close to a reactor it doesn't stay in place sometimes as you move near and or past it. It does a little "dance" around it's original location and doesn't stay locked in place like other objects all the time. It's more noticeable with the increased size MegaReactoid on level 24.

[2019-09-07 18:05] jerkyspace commented on #54
Being able to have the button on the right side of a reactor too would also open up new maze design possibilities/eliminate most of the issues with this invisible barrier (that I think is essential to making these objects feel real).

If we go this route then rhe reactor also should not be set off unless you hit the actual button so maybe limit the collision detection accordingly? (+adjust the inv

[2019-09-07 18:08] jerkyspace commented on #54
Another possible solution on Level 13 is to extend the lower hallway to the left enough so the player can jump over the Reactor and set it off from the left side where the button is (out to just under the yellow key).

For this to work you would have to limit setting the reactor off to the actual button press and expand the invisible barrier to keep the player from going through the reactor or lan

[2019-09-07 19:42] jerkyspace commented on #54
I finally figure out a way to get the reactor on Level 13 facing the way I wanted (button to the left)  without losing the original design idea. It actually expands on that and improves it a bit I think.

Now that I have found a way to mostly avoid the issue in question I think  we need just a little tweaking of the invisible barrier parameters for the Reactor (and Clock) as the were originally.

[2019-09-07 21:06] jerkyspace commented on #122
This issue may be why all reactors in Rev 3 were drawn slightly off the floor. When you draw them up against it they tend to "dance" down below the floor level due to this bug that only seems to affect reactors. All other objects are locked on the map.

[2019-09-08 15:12] jessaskey commented on #121
Okay, I think this is now fixed in the 0.54 release.

[2019-09-08 15:17] jessaskey commented on #120
I figured out this issue and it looks like it is going to affect any object that used the 'compact' form of positioning... that means locks and keys cant be hidden using this method. Im going to put this into the 0.55 release and figure it out later so I can get 0.54 released today for you to check out with the other changes you made in your .mhc master file too.

[2019-09-08 15:19] jessaskey commented on #122
I will look into this, I think this is actually normal but on a vector monitor, it doesn't do this... just on MAME. But I will investigate.

[2019-09-11 21:19] MajorHavoc commented on #122
That could happen on a vector screen if there is too much drawing without a center command before the reactor is drawn. I do not know how MAME emulates the vector generator, but to do it "correctly" they would have to accumulate positions so the next draw (before a center command) is relative to the previous position, +/- some drift over time.  It seems strange that it moves. I blame MAME too, sin

[2019-09-21 21:52] jerkyspace commented on #54
Can we restore the reactors to how they were now that I have all of them across the maze collection facing the right way? I miss the invisible barrier and keep running through reactors into walls and force-fields by mistake. It also makes some levels harder like level 18 where you need to turn right around after you run into the reactor to set it off.

[2019-09-22 16:56] jessaskey opened #123 "Put back Reactor invisible stop"
A reversal of Issue #54... Jerky has things tweaked now to the point where it would be best if Rex stopped when he hit the reactor instead of running right through it.

[2019-09-22 16:57] jessaskey opened #124 "ReturnLevel doesn't work for Tokens"
Seems that the init code for levels is wiping away the ReturnLevel setting if the player used a token. Needs fixed.

[2019-09-24 15:26] bakerhillpins opened #125 "Use transporter sparkle effect when collecting the "Tokens"."
I thought it would look cool if the collecting animation of a "token" looked a bit special too. Specifically, using the transporter sparkle animation or whatever it is, which appears over top Rex when he is transported. Don't use the full size effect, but scale it down by half or 2/3s.

[2019-09-27 18:48] jerkyspace opened #126 "Key Pouch Not Visible"
The key pouch isn't showing up visually...but the sparkle effect box above the maze on the upper left side activates properly when you run into it where the pouch is supposed to be on the map.

[2019-09-27 18:51] jerkyspace opened #127 "Key Pouch Keys not carrying over to next level (maze 4>5 test)"
Maybe it's because I am playing from level 2-4+ in the Editor but after you pick up the currently invisible key pouch on level 2 it doesn't carry keys over to the next level. I played from maze 2-5 and didn't use the two keys on the doors on level 4 (yellow/cyan). No blue and cyan keys on level 5 shown in my inventory (maybe invisible too like the pouch?).

[2019-09-27 18:56] jessaskey commented on #127
Actually, maybe I didn’t document this very well, but I don’t think that there is any code in place to actually carry the keys forward when you have the pouch or maybe there is a bug in there. Either way, this is a solid bug so I will see about getting it done in 0.56…. do you feel you need this for Grinkfest?

From: jerkyspace <notifications@github.com>
Sent: Friday, September 27, 2019 12:52 PM
T

[2019-09-27 20:46] jerkyspace commented on #127
Yea I wasn't sure how much you had done yet but thought I should bring it up anyway just in case. WIP ;)

I wouldn't worry about the Key Pouch for Grinkfest since it's currently a very extra credit item for players that "need" to use extra keys to advance farther into the game by skipping sections of later mazes (sacrificing oxygen bonus points on the levels the save keys from they way I have it s

[2019-09-28 21:15] bakerhillpins opened #128 "Game crashes hard when jumping and pushing the shield button"
MHEditor v1.2.1064.0
HBMAME v0.207

So this is what I have to do to reproduce this. I don't know if it's all required or not but I got it to happen 3x doing this.

Open editor,
Load levels from PE ROM image shipped with editor
Play Level 6, goal is to get token between 2 ion cannons in maze.
Start by going left. I typically jump and shield at the same time. Shield kills pyroid and then Rex runs in

[2019-09-28 21:18] jessaskey commented on #128
Okay, thanks for all the info... I will look at this tonight!
________________________________
From: bakerhillpins <notifications@github.com>
Sent: Saturday, September 28, 2019 3:15:23 PM
To: jessaskey/mhavocpe <mhavocpe@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [jessaskey/mhavocpe] Game crashes hard when jumping and pushing the shield button (#128)

MHEditor v1.2

[2019-09-28 21:52] bakerhillpins commented on #128
So I was thinking about this and I wonder if it's got to do with the interaction of hit test code and the new token fade in/out stuff. Jumping back and forth between the regular hit testing for just Rex and Rex with Shield.

[2019-10-07 16:04] jerkyspace opened #129 "Level 3 - Star Castle battle instead of outer space maze"
0.56 romset
Factor Default Dips
Playing from Level 1 to 3

After you play the breakout game at the HUD for the start of Level 3 it jumps right into the Star Castle battle from level 21 instead of the outer space maze (from "You Will Not Win" into the battle). It does show the Level 3 maze correctly at the HUD though (and says it's level 3).

At first the fighters act like sections of the wall and

[2019-10-07 16:09] jerkyspace commented on #129
Does the same thing in Demo mode if you go right to Level 3. Instead of the outer space maze you get the level 21 Star Castle battle that leads back to level 1 looping,

[2019-10-07 16:30] jerkyspace opened #130 "Level 6 to Hidden Level 1 ::: Jumps to outer space battle with red lines"
056 romset
DEMO Mode
Playing from Level 4 to Level 6 and first Hidden Level

After you play level 6, grab the token and end the level...the HUD briefly pops up as if it is the next level showing the starbase red line approching and no level # shown...then jumps into the Teseract activating animation HUD and spaceship warp...only to dump you into a super hard difficulty outer space angry double red

[2019-10-07 16:35] jerkyspace commented on #130
After you finish the Hidden level it takes you back to Level 7 HUD correctly...but it loads another Cube space battle instead of the outer space maze (like level 3). See this issue form there...
https://github.com/jessaskey/mhavocpe/issues/129

[2019-10-07 16:36] jerkyspace commented on #129
It plays normal in Demo mode from level 4...until you get to Level 6 and try to access the hidden level. See other issue on this but after the 1st hidden level is played it goes to Level 7 which again loads a Cube star castle battle instead of the outer space maze.
https://github.com/jessaskey/mhavocpe/issues/130

[2019-10-07 16:37] jerkyspace commented on #129
From Demo mode if you go right to Level 7 it loads a Cube space battle instead of the outer space maze just like level 3. At least it's consistent ;)

[2019-10-07 16:46] jerkyspace commented on #129
Confirmed. All outer space mazes are being replaced with the Cube star castle battle from level 21. They loop back to the first level of that cycle of 4 and then after you beat that maze they all load Level 1 again.

So Level 3, 7, 11, 15 and 19 all go back to 1,5,9 and 13 after the level 21 space battle inserts itself but then revert to level 1 when you complete that maze (1,5,9 or 13). And it lo

[2019-10-07 18:11] jessaskey commented on #129
Okay, digging into this one now... sounds like a good one.

[2019-10-08 14:47] jerkyspace commented on #129
Same problem in both 056a roms I got this AM.

Go fish ;)

[2019-10-12 16:13] jerkyspace opened #131 "Outerspace battles playing b4 hidden level mazes"
0.57 (fixed)
FPGA

So after you get a hidden token and the teseract hud/warp happens it doesn't play the maze....it plays the outerspace battle (4th cycle one with red lines I think?)

After the battle you land on the starbase and then the correct hidden level plays.

[2019-10-12 16:17] jerkyspace opened #132 "Hidden Level Hud, Teseract Animation and Warp are playing b4 normal outerspace battles (fishoids, fighters, maze, starbase)"
0.57 (fixed)
FPGA

The hidden level hud, animation and warp keep popping up instead of the normal hud screens at the start of levels. This seems random. It can even happen before you play the fishoids on level 1.

Unfortunately too the space battles starts playing in the background while the hidden level hud runs its cycle so when it ends the player often has fighters right on top of them or shots

[2019-10-20 15:14] jerkyspace commented on #131
0.57 fixed
HBMAME 0.209

Confirmed. Same behavior found in HBMAME. Ex. A  starbase and double angry red line outer-space battle starts in the background with fighters already spawned as the Tesseract screen and blue warp are triggered by the Level 6 hidden token. Then you have to get through the space battle before you get to the hidden level (difficulty seems maxed as well).

[2019-10-20 15:29] jerkyspace opened #133 "Instability issues when you start second game"
0.57
HBAME 0.209
First played one game thru level 1-7 including triggering first Hidden level (played through it) then killed my game at the space maze off and re-started...

So after you play one game and die off and start a second one there are weird problems that come up :

Score starts out very high with hex values but then drops down to 100,000 for starting level 1 (A0A90000).

Graphics in ce

[2019-10-20 15:30] jerkyspace commented on #132
If I recall right I did not see this behavior until AFTER I played up to and through Level 6 hidden level. It was subsequent games that this problem came up on. Maybe trigger hidden levels once or more than once is the root cause in subsequent games?

[2019-10-20 21:47] jessaskey commented on #131
Okay, this makes better sense to me now as I was only testing play up through level 4-5 so I just hadn't gotten far enough to make this happen. I will investigate these this week and get something out that attempts to sorta get this whole 'teseract' thing cleaned up! Thank you!

[2019-11-11 18:39] jessaskey commented on #132
Okay, I have found and fixed this... it wouldn't happen until Level 6 when a 'hidden' token was on the maze, and then it was never being reset, which caused it to happen on every level. This will be fixed in the next release which I will get out this week/weekend.

[2019-11-11 18:42] #54 closed, assigned to jessaskey

[2019-11-11 18:42] #90 closed, assigned to nobody

[2019-11-11 18:42] #104 closed, assigned to jessaskey

[2019-11-11 18:42] #106 closed, assigned to jessaskey

[2019-11-11 18:46] jessaskey commented on #107
I think that what Im going to do on this and I will try and get it put into Release v0.58 is cycle the colors of the walls in a special way on the Hidden Levels... this will make them unique. Since each of the 'Tesseracts' has a special color associated with it (and used in the 'token/badge' for that tesseract: Blue,Purple,Red,Orange) Im going to do the wall color special for each one, then they w

[2019-11-11 18:46] #123 closed, assigned to jessaskey

[2019-11-11 18:46] #124 closed, assigned to jessaskey

[2019-11-11 18:53] jessaskey opened #134 "Create a 'Final Bonus' Screen"
After defeating the final station (Mothership?).... there should be a bonus count-up screen that gives the player big points for accomplishing the goal. The bonus will be made up of several parts..

1. Defeating the station (200K for hitting the reactor and escaping without dying and 100K if you trigger the reactor but die on leaving the final maze.

2. Extra Clones Remaining - Player will be awar

[2019-11-11 19:03] jessaskey commented on #60
Im re-opening this because it just happened with my on my MAME and Im running development v0.58... I understand what is happening a bit more with this now because of the situation. Basically, in MAME, if you have no nvram file saved, it obviously creates one with only 00's in all the memory locations. This is great and all, but the unfortunate side affect of this is that when the data is 'checksum

[2019-11-18 04:10] jessaskey commented on #133
I tested this out in the v0.58 build a little differently but it should have caused the same issue... I had the hidden level tesseract on Level 1 in this case and triggered the wormhole. I started another game and didn't see this happen. Im thinking that a bunch of cleanup around the initialization solved this as well so Im going to mark it complete int the v0.58 release and we can track it (or re

[2019-11-18 04:13] jessaskey opened #135 "VAXX Bonus is skipped if the player dies in maze"
The final VAXX bonus is supposed to countup after the final space station level and is also supposed to give a different 'destroyed station' bonus depending on if the player escaped the station after triggering the reactor or if they died on the way out. Unfortunately, right now, if the player dies.. the game does not pick back up and do the Vaxx bonus, homeworld animation and end story... it just

[2019-11-26 16:14] jerkyspace commented on #131
0.58 Romset
HBMAME 0.209

So after you get the Alpha Tesseract on Level 6 it still plays the 4th outerspace base battle before you can play the secret level maze (double red line too and high level of difficulty). Love the new warp colors.

I also noticed that you can start to play the breakout game for a moment b4 the alpha tesseract screen comes up.

Same problem with Level 10 after you get the

[2019-11-26 16:52] jerkyspace opened #136 "Secret Level Maze Color Issues"
0.58
HBMAME 0.209
Level 6>Level 25

The secret level maze walls start out white then switch to purple...then go back to white and repeat (W>P>W>P and on and on). I like the purple but it keeps switching back to white during the whole level like every second or so. Super distracting.

Level 10>26
Now it goes from white walls to black/invisible ones every second and then back to white and repeats. M

[2019-11-26 17:36] jessaskey commented on #136
Yep, this is by design, the same thing should happen on the tesseract levels but they will each be a different color that matches the tesseract color.
________________________________
From: jerkyspace <notifications@github.com>
Sent: Tuesday, November 26, 2019 9:52:07 AM
To: jessaskey/mhavocpe <mhavocpe@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [jessaskey/mhavocpe

[2019-11-26 22:40] jerkyspace opened #137 "Level 10 - Everything sped up"
0.58
HBMAME 0.209

So I went back and checked the editor.....the reactor is counting down way too fast on level 10 as is o2 consumption (when you play for 1-10).

Is this an adaptive diff issue and how do we fix it? There is barley enough reactor time and very little o2 left compared to what I see in the editor.

I was going to add more reactor time but don;t want to chase these AD issues around f

[2019-11-26 22:47] jerkyspace commented on #136
I like the matching colors idea (walls=tesseract color)..but not the pulse from white to purple and then white to invisible/black.

[2019-11-26 22:56] jerkyspace opened #138 "Adaptive diff being added to Level 26 Trippads?"
So the player should be able to get by the two trip pads at the bottom of Level 26 just by running all the way to the right over both of them and heading up (83+84).....but when you play from Level 1-10 and make it to this secret level they are sped up so much that you get killed by them almost right away.

Right now it's very hard to get past the 2nd trip pad on this level (84) with it sped up li

[2019-11-26 23:08] jerkyspace commented on #136
Making the walls go invisible might be a nice touch on some levels after the first loop :)
Random colors and invisible walls could make the 2nd loop extra interesting but it seems too much too early esp at Level 10>26.

[2019-11-28 19:21] jerkyspace opened #139 "Level 15 - Particle Token shown in inventory from start of the level"
0.58 romset
HBMAME 0.209

When you start level 15 the Particle token found on Level 18 shows up in your "inventory" at the top left of the screen (playing from l1>15 including all previous hidden levels up to this point).

When you finish level 15 everything works normally. No hidden level. It goes right to Level 16 like it should.

Just an inventory ghost/glitch the game ignores.

[2019-11-28 19:52] jerkyspace commented on #62
0.58 romset
HBAME 0.209

Same issue when playing from 1>18 (including secret levels). The IonCannon (cannon12 now) shots terminate into an invisible wall in the hallway right below the Blue Transporter30.

Don't see the same in Editor v1.2.1064.0.

[2019-11-28 20:06] jerkyspace opened #140 "Level 28 - TripPads sped up"
0.58
HBMAME 0.209

Same issue as Hidden Level 26. The TripPads are firing one speed faster than they are when playing in the Editor.

The pairs of TripPads92/97 and TripPads93/98 fire too fast for the player to jump the second slower one as designed. Level breaker for now. Can't progress forward from this point.

This may again be happening because the outerspace level (4th base w/two red lines) i

[2019-11-29 18:31] jerkyspace opened #141 "Level 20 - Missing Level 20 text on HUD and skips breakoout game"
0.58 romset
HBMAME 0.209

Playing from Level 1>20 + all secret levels except for L28 (skipped due to trip-pad speedup issue).

After finishing level 19 the game hops right into the outerspace battle skipping the breakout game at the HUD screen. The text on the lower left side for "level 20" is also missing.

[2019-11-29 18:34] jerkyspace opened #142 "Level 21 - Missing Text "Level 21" at HUD screen"
0.58 romset
HBMAME 0.209

Playing from level 1>21 + secret levels except for Level 28 (trippad speed up issue).

The "Level 21" text on the lower right side of the HUD is missing. Yesterday this level also jumped past the breakout game like the Level 20 bug I noted earlier (but Level 20 was okay that time letting me play the breakout game). Today it skipped the breakout game at Level 19 but did no

[2019-11-29 18:38] jerkyspace commented on #99
0.58 romset
0.209 HBAME

Still an issue when playing from Level 1-21.

[2019-11-29 18:49] jerkyspace opened #143 "Level 22 - TripPads sped up"
0.58 romset
0.209 HBAME

Playing from level 1>22 + all secret levels expect for L28 (also trippad speed issue).

Like a few other levels the TripPads seem to be sped up by adaptive difficulty somehow. If you can't figure out why I have been editing a new .mhc that sets the TripPad speeds back one level to compensate for this issue.

You can just barely squeak by the lower hallway's trippad shots a

[2019-11-29 19:11] jerkyspace opened #144 "Level 22 - Oxygen consumption sped up...not enough to finish Level 23+ now"
0.58 romset
0.209 HBMAME

Playing from level 1>22 + first three secret levels (Skipped L28 due to trippad speed issues).

The oxygen consumption is sped up on this level leaving you with barley enough to finish this maze and not enough to get through the next one (L23).

I checked against playback vids I made of this level previously and made several seperate runs from level 1 to test it again.

I

[2019-11-29 19:24] jerkyspace opened #145 "Level 15 - One TripPad sped up...others okay?"
0.58 romset
HBMAME 0.209

Playing from Level 1>15 + secret levels up to this point.

TripPad53 is firing one speed faster than seen in the editor but the other ones don't seem to be affected (51+52).

This could be related to the extra outerspace level playing b4 secret levels (at a high level of difficulty)?

[2019-12-03 04:50] jessaskey commented on #136
I think some of the colors are off then... it should be

Tesser 1 = Yellow -> Showing Purple (like)
Tesser 2 = GreenRed -> Showing Black
Tesser 3 = Cyan -> Deep Amber Red (like)
Tesser 4 = White/Red -> Showing Blue

Okay, after looking at the code, I can see what is happening....

Let me fix the Black and change it to YELLOW maybe and move YELLOW to Tesser1/Level6... maybe since they are similar c

[2019-12-03 04:57] jessaskey commented on #137
Let me dig into this Adaptive Difficulty thing... I agree with you, it makes things not WYSIWYG, so Im going to make a task to just basically take it away... this will help with consistency, plus make the game overall easier which keeps us moving in Owen's direction for his wants.

One of the side effects of this is that some of the classic levels which typically were faster (levels 5-12) should a

[2019-12-23 19:28] jerkyspace opened #146 "Player walking into MegaReactoid"
0.58 romset
Editor 1.2.1064.0
HBMAME 0.209

I just noticed that while DeHand correctly pushes just the mega reactor button on Level 24, the player walks into the middle of it before it is set off.

Seems like the collision detection is off maybe related to the size scale up (which is growing on me lol). The player should just bump into the button on the outside without passing through like the sma

[2019-12-24 17:11] jerkyspace opened #147 "Demo Mode - Every Level Plays Secret Level 28"
0.58 romset
0.209 HBAME

Just noticed this one...Every level you select in Demo Mode takes you to the last secret level instead (Level 28). At least it's consistent ;)

[2019-12-24 17:19] jerkyspace commented on #147
Nevermind...rom version issue caused this. I put a fresh copy of 0.58 roms in and everything is fine.

[2019-12-24 17:19] #147 closed, assigned to nobody

[2020-04-21 13:32] jerkyspace opened #148 "Secret Levels Too Quiet - Make Final Maze Background Sound"
Someone also just mentioned this in a comment for one of my Secret Level YouTube videos.

Since there are none of the usual things that make sound effects in other levels on these ones maybe some sort of interesting background sound(s) would help? Something creepy like the throbbing reactor sound or something similar to it?

How about a sinister sound effect for the Maxoids as they move too? I kno

[2020-04-21 14:31] jessaskey commented on #148
Okay, Im going to turn this ticket into a 'make background music' which will just be a single channel bass line... I should be able to make it slowly increase in pitch as the player gets through each section as well as a tension builder perhaps.

I will make a separate issue for the Max Robot sound (which is a great idea too)....

[2020-04-21 14:33] jessaskey opened #149 "Create sound effect for Maxoid"
Max clearly needs a sound.. maybe something that pulses to the same timing as his eye pulsing.. any other ideas?

[2020-04-21 16:38] jerkyspace commented on #149
Well even though he does not have whirling blade arms like his inspirational brother...it's a great sound effect or something like that. Not sure how you would manage it for multiple maxoids though. Sending you an email example...

[2020-05-05 15:16] jessaskey commented on #149
Okay... 0.59 will have this done... here is how it works currently. Once Max is activated, he will say 'Activated' and the background sound will start... it will increase in both volume and pitch as he gets closer to Rex. If there are multiple Max robots, the closest Max robot will drive the sound configuration (since there is only 1 sound, I can't layer them with multiple Max robots because it wo

[2020-05-05 15:23] jessaskey opened #150 "Remove Adaptive Difficulty"
This is a new umbrella issue that Im going to merge in lots of different issues under because they are all related to the Adaptive difficulty being a challenge to deal with due to the Level editor putting you into levels individually at a 'Medium' difficulty level (or whatever the MAME settings are)... but if you play through the game, you inevitably arrive on that same level with a different diff

[2020-05-05 15:26] jessaskey commented on #144
- Hoping that removal of Adaptive Difficulty will fix this, will link it to release 0.59 and then get feedback from Jerky.

[2020-05-05 15:27] jessaskey commented on #145
- Hoping that removal of Adaptive Difficulty will fix this, will link it to release 0.59 and then get feedback from Jerky.

[2020-05-05 15:27] jessaskey commented on #143
- Hoping that removal of Adaptive Difficulty will fix this, will link it to release 0.59 and then get feedback from Jerky.

[2020-05-05 15:27] jessaskey commented on #140
- Hoping that removal of Adaptive Difficulty will fix this, will link it to release 0.59 and then get feedback from Jerky.

[2020-05-16 06:21] #60 closed, assigned to jessaskey

[2020-05-16 06:21] #107 closed, assigned to jessaskey

[2020-05-16 06:21] #129 closed, assigned to jessaskey

[2020-05-16 06:21] #130 closed, assigned to jessaskey

[2020-05-16 06:21] #131 closed, assigned to jessaskey

[2020-05-16 06:21] #132 closed, assigned to jessaskey

[2020-05-16 06:21] #133 closed, assigned to jessaskey

[2020-05-16 06:21] #134 closed, assigned to jessaskey

[2020-05-21 04:51] jessaskey opened #151 "Level 21 - Level start HUD shows Fishoids next but then plays Cube outer space battle."
The HUD has the text as 'fishoids' but plays the star castle level.

[2020-05-21 05:03] jessaskey opened #152 "Post Space Station Bonus not working properly"
After completing the space station battle the bonus sequence does not work correctly. Confirmed that it also doesn't work in development using the cheater flag.

[2020-05-24 15:54] jessaskey commented on #150
Im going to document how AD works in the existing codebase here... just for posterity, looks like we are going to take it out because it really does sorta make the level difficulties and chaotic as illustrated below.

Here is the AD ‘aggressivity’ table… it is actually called ‘Expected Deaths’

[code]

(the last 4 are the hidden levels, we won’t ever increase difficulty for those)
(production havo

[2020-05-24 15:55] jessaskey commented on #150
Also the Oxygen countdown and the reactor time is based upon incrementing difficulty (AD)…  for both of them, a fractional amount is subtracted from each value, oxygen and reactor time, every 125ms… basically, as that fractional amount is increased, then the counter will count down faster. So,

Oxygen Counter: Base fractional value is 14 (out of 256, so 14/256ths)… for each Incremental Velocity (z

[2020-05-24 15:57] #119 closed, assigned to jessaskey

[2020-05-24 15:57] #149 closed, assigned to jessaskey

[2020-05-24 15:58] jessaskey commented on #145
Going to track this under #150

[2020-05-24 15:58] #145 closed, assigned to jessaskey

[2020-05-24 15:59] jessaskey commented on #144
Going to track this under #150 since it is related to AD.

[2020-05-24 15:59] #144 closed, assigned to jessaskey

[2020-05-24 15:59] jessaskey commented on #143
Going to track this under #150

[2020-05-24 15:59] #143 closed, assigned to jessaskey

[2020-05-24 15:59] jessaskey commented on #140
Going to track this under #150

[2020-05-24 15:59] #140 closed, assigned to jessaskey

[2020-05-24 16:00] jessaskey commented on #138
Going to track this under #150

[2020-05-24 16:00] #138 closed, assigned to jessaskey

[2020-05-24 16:00] jessaskey commented on #137
Going to track this under #150

[2020-05-24 16:00] #137 closed, assigned to jessaskey

[2020-05-24 16:01] #121 closed, assigned to jessaskey

[2020-05-24 16:02] jessaskey commented on #116
Closing this one.. if it creeps back up after we remove AD and the RAM variables are solid again (after v0.61) then we can reopen or create a new issue.

[2020-05-24 16:02] #116 closed, assigned to jessaskey

[2020-05-24 16:02] jessaskey commented on #115
Going to track this under #150

[2020-05-24 16:02] #115 closed, assigned to jessaskey

[2020-05-24 16:03] jessaskey commented on #101
This seems to have been fixed when I played into the HST in v0.60... closing for now.

[2020-05-24 16:04] jessaskey commented on #74
Will leave this as is for now.

[2020-05-24 16:04] #74 closed, assigned to jessaskey

[2020-05-24 16:05] #30 closed, assigned to jessaskey

[2020-05-24 16:08] #151 closed, assigned to jessaskey

[2020-05-24 16:31] jessaskey commented on #77
Im working on this now... a couple notes... I can't do multiple shots to kill Max right now, so Im going to get this working with a single shot and we can expand if needed later. Also, I feel like there should be some kind of effect when Max dies along with a speech sound. I will create those as separate features once this is done tho.

[2020-05-25 02:35] jessaskey commented on #77
here is how I have it working now...  Max and Trip Pad Pyroid both die when a collision happens.. pyroid will make the 'splash' sound that it makes when it hits a wall and do the 'splash' animation too... Max will do a 'uuuuughhh' sound for now. If you think of some good short phrases that I can randomize with, I can record those too.

[2020-05-26 19:36] jessaskey opened #153 "MAXOID SPEED AND TRIGGER DISTANCE"
Currently it seems like a TriggerDIstance of 0 and 1 do the exact same thing : Activate Maxoids as soon as the player enters the maze no matter how far away they are from the Maxoid locations. A distance of 2 works for now.

Also I was wondering if we could either add an additional faster one or speed up all the current Maxoid speeds getting rid of the slowest ones. I am using Aggressive for almos

[2020-05-27 00:14] jessaskey commented on #153
Okay, I found the issue with the trigger distance. This will be fixed in 0.62

[2020-05-27 00:22] jessaskey commented on #153
On the speed... here is how it was previously defined
maxspd
        .db $01  ;Slowest
        .db $02  ;Slow
        .db $03  ;Medium
        .db $05 ;Aggressive

and on v0.62 it will now be..

maxspd
        .db $02  ;Slowest
        .db $03  ;Slow
        .db $05  ;Medium
        .db $07 ;Aggressive

After this release, LMK if you want me to bump that up higher on the Aggressive setting.

[2020-05-27 03:59] jessaskey commented on #152
Okay, this is fixed now in 0.62. The issue was around some code that was trying to hide the space ship as it shrank down into the tact scan position (which I didn't want to show because it was right in the middle of the Vaxx Bonus text), but that was causing some weird VROM paging issues. So, I added a new location to the targship routine which took the ship down a bit farther on the screen so tha

[2020-05-27 04:01] jessaskey commented on #101
This is still happening as of v0.61 so Im bringing this issue back open. Will try to get fixed in next release.

[2020-05-27 04:02] #101 closed, assigned to jessaskey

[2020-05-27 04:03] jessaskey opened #154 "End of Final Story crashes and renders gibberish"
After the story is finished, the text jumps all around during the fireworks and eventually hangs up.

[2020-05-27 04:04] jessaskey opened #155 "Add background music during final story scrolling"
During the final story scroll, play something cool through the fireworks.

[2020-05-30 15:48] jessaskey opened #156 "Make Max death a little fancier"
Max deserves a better death than to just simply disappear with some speech... make him flash or something more fancy.

[2020-05-30 15:49] jessaskey opened #157 "4 shots to kill a Max robot"
Its just too easy to kill him now... gotta make it 4 hits to kill him.

[2020-05-30 15:56] jessaskey commented on #45
Okay, per Jerky... he has documented when this happens which will be super helpful... here are the deets..

Level 26...
![level_26a](https://user-images.githubusercontent.com/3683098/83332973-7f519c80-a25b-11ea-98a9-965b0f72364d.jpg)
![level_26b](https://user-images.githubusercontent.com/3683098/83332978-87114100-a25b-11ea-9743-d3405510fd63.jpg)

Level 28

![level_28a](https://user-images.githubus

[2020-05-30 15:58] #136 closed, assigned to jessaskey

[2020-05-30 15:59] #150 closed, assigned to jessaskey

[2020-05-30 16:02] jessaskey commented on #135
I talked to Owen about this... his preference is that if a player dies between setting off the reactor and escaping the final maze, that the player should start over again on the final maze (if they have lives left)... If they die trying, then the game should only allow them to continue one level back like most other levels... so if they die on Level 21 and game over, then they can only continue o

[2020-05-30 16:03] #113 closed, assigned to jessaskey

[2020-05-30 17:29] jessaskey commented on #117
Here is the sequence of how this will be working...

1. Finish Final Supa-Station (Levels 21-24 combined into one giant maze).
2. If player dies after triggering reactor, you will have to start over. No Freebies per Owen and Im calling this the Groundhog Day Maneuver.
3. After sucessfully existing the final space station it will go into a VAXX bonus screen where the player is awarded points for fi

[2020-05-30 17:33] jessaskey opened #158 "Make sure player score can't rollover"
Since we technically can play this game forever now (Jerky only?)... we need to make sure that the player score doesn't rollover when the player reaches 99,999,900. I doubt anyone will ever play this high tho?

[2020-05-30 17:36] jessaskey commented on #157
This is a different issue but related to #77 so I will link it here.

[2020-05-30 17:36] #77 closed, assigned to jessaskey

[2020-05-30 17:40] jessaskey commented on #72
Im going to put this on the 0.63 milestone and also get in some other sounds for Rex. I think I soved some of the issues I was having with sending speech commands inside the collision routines, so Im hoping I can get this working solidly now.

[2020-05-31 15:00] jessaskey commented on #157
Okay, I found 2 remaining bits in my special added Max byte of data that I could use for a 4 hit counter. Have this in place now, but will test and will be coming with the 0.63 release.

[2020-05-31 16:38] MajorHavoc commented on #72
I would put my speech routine hardware updated in the NMI interrupt routine so that it runs every frame. Do not make it too long though. The main sound routine queues up sounds and the NMI sends them out.  That means I call to start speech is just a call. Runs quickly.  In the collision routines just click a counter for the necessary sound and check those counters in the NMI to start a single soun

[2020-05-31 18:11] jessaskey opened #159 "Level 25 is starting 'invisible'"
ISSUE: Level 25 Not Playable In Editor (black screen/maze not visible other then messed up hint text)
I could not test out this behavior for Level 25 in the Editor because for some reason it still won't display the maze...just messed up maze hint text and a blank screen even though I am pointing to the same HBAME directory(s) that I am testing the newest rom set from (0.62 and was the same in 0.61

[2020-06-01 03:06] jessaskey commented on #72
Yeah, it was a weird issue where I forgot that the routine that sends the gamma commands basically ruins all the registers so I was jacking up the Y register in the collision routine which was randomizing the objects that it was comparing too. DOH!!  The RPM version you were using was really almost exactly like the Return of the Jedi version of RPM (which had the support for the TI chip)... so it

[2020-06-01 03:45] jessaskey commented on #128
Bryan, I just tried to do this a few times tonight and was not able to re-create this. Jerky made getting to the tesseract from the left 'highly discouraged' so you have to get it on the way out from the right side and he made it substantially easier too by removing the second Ion Cannon and the second Pyroid down by the Escape pod. I like the feel of this level now (for level 6) because there is

[2020-06-01 04:46] jessaskey commented on #157
This is done and tested... Max says 'Ugggh' when hit and not dying currently. Then "I'll be back!" on his last hit to die.

[2020-06-01 04:50] jessaskey commented on #159
Okay, I was not able to duplicate this but I did find several issues with the editor around the Maze hints so Im thinking that perhaps there was a weird character in the maze hint that was crashing the vector generator before it could draw the actual maze. Im going to label this as done for now, but we can bring it back if you can duplicate it in ROMs v0.63 or later.

[2020-06-01 12:38] bakerhillpins commented on #128
I'm going to try to move back to that release and reproduce it first. Then move to the new stuff and see if anything changed. In the long run it might be easier to move back to that release and debug it there even though it's way old at this point.

I'll let you know what I find.

[2020-06-02 02:37] jessaskey opened #160 "First TripPad shot causes Maxoid to drop to slowest speed setting"
When Max gets hit, he will drop to the slowest speed .

[2020-06-02 02:56] jessaskey commented on #128
Okay, Bryan and I sat down and figure out that this was a specific issue with his PC and MAME/HBMAME. It seems that for Intel Graphics chipsets, that a common hotkey combination is CTRL+ALT+ARROWKEY and in Major Havoc, CTRL = Shield and ALT = JUMP and the arrows are the whirlygig. So if you shield and jump at the same time while attempting to move, then this will cause Windows 10 to rotate the scr

[2020-06-02 02:56] #128 closed, assigned to jessaskey

[2020-06-02 02:58] jessaskey commented on #153
Once quick fix on this in 0.64 which is #160 , but marking this one closed.

[2020-06-02 02:58] #153 closed, assigned to jessaskey

[2020-06-02 02:58] #152 closed, assigned to jessaskey

[2020-06-02 02:58] #154 closed, assigned to jessaskey

[2020-06-02 02:59] #155 closed, assigned to jessaskey

[2020-06-02 02:59] #135 closed, assigned to jessaskey

[2020-06-02 02:59] #117 closed, assigned to jessaskey

[2020-06-02 03:00] #157 closed, assigned to jessaskey

[2020-06-02 03:00] #159 closed, assigned to jessaskey

[2020-06-02 03:02] jessaskey commented on #158
After doing some analysis, a player would need to complete the full sequence over 60 time to get to that score I think (right?)... so I don't think it will happen! :-)

[2020-06-02 03:02] #158 closed, assigned to jessaskey

[2020-06-02 03:10] jessaskey commented on #139
Im pretty sure that this was an issue with the early versions of the tesseract tokens. I just tried in on Editor 1.3.0.0 and ROMs v0.63 and all was okay. Im going to mark this closed for now.

[2020-06-02 03:53] MajorHavoc commented on #154
I’m not surprised. After all that, Tex must be damn tired.

Sent from my iPhone

[2020-06-02 04:01] MajorHavoc commented on #135
I totally misunderstood you. Sets off final reactor and dies leaving the final facility - game ends! You get credit for destroying the factory just like on ships, but no bonus. And there is no next level anyway. And your people can now escape, and the final is a celebration anyway, maybe just a little less for all of your people who died in the factory. After all, clones are free, were giving them

[2020-06-02 04:03] MajorHavoc commented on #135
Yes. See my other message for me just being an idiot. I answered for the wrong scenario. Doh.

Sent from my iPhone

[2020-06-02 04:42] jessaskey commented on #135
Nahh, you are good… there are lots of things flying around for sure in all these emails etc.. I will put in a fix for this one in the next ROM set (this weekend)… then it should follow your script!

From: Owen Rubin <notifications@github.com>
Sent: Monday, June 1, 2020 10:02 PM
To: jessaskey/mhavocpe <mhavocpe@noreply.github.com>
Cc: Jess Askey <jess@askey.org>; State change <state_change@noreply.

[2020-06-16 17:34] jessaskey commented on #56
I have not seen this issue in quite a long time. If it doesn't come back up soon, I will close this one.

[2020-06-16 17:36] jessaskey commented on #45
For a long summary of this issue...

-Max robot presented several issues with wall collisions due to his fluid ability to move in any direction in a variety of velocities. The main wall collision routines worked fine for him... but the head case collisions that were being used for the Non-Rex maze objects was very insufficient because they were simplified/optimized for objects that only moved in a

[2020-06-17 04:46] jessaskey opened #161 "Add back Max 'Levitation' animation"
The original ROM's had some yellow levitations below the Max robot. Add these back as an optional compile time feature while we determine if they should stay in the final version.

[2020-06-24 05:01] jessaskey commented on #146
I just fixed the code for this for the 0.66 release. I had to do quite a few changes for the Mega-Reactor...

1. Adjusted X distance to contact reactor as Jerky points out in the issue.
2. Since the mega-reactor is two stamps tall, had to modify the collision routine so Rex would still contact the reactor when in the stamp above, also the rtcol flag has to be set so Rex can't move past the reactor

[2020-06-25 03:13] jessaskey commented on #43
Okay, this is done... a little medal for Rex along with Tesseracts shown in High Score table now. If the player doesn't actually defeat that station (dying between tripping the reactor and exiting the maze), they don't get this medal.

![image](https://user-images.githubusercontent.com/3683098/85649154-966b8a80-b65f-11ea-8eb4-af5aaf47e7cb.png)

[2020-06-30 03:05] jessaskey commented on #45
I have made separate head and body case collisions for Max now.. this allows me to fine tune the cases to Max instead of trying to solve for all maze objects. I have the ROM space so this was not an issue. There are lingering smaller issues but Im going to close this one for now and open those issues separately when they arise.

[2020-06-30 03:05] #45 closed, assigned to jessaskey

[2020-06-30 03:05] #160 closed, assigned to jessaskey

[2020-06-30 03:06] #161 closed, assigned to jessaskey

[2020-06-30 03:06] #139 closed, assigned to jessaskey

[2020-06-30 03:06] #43 closed, assigned to jessaskey

[2020-06-30 03:07] #146 closed, assigned to jessaskey

[2020-06-30 03:14] #56 closed, assigned to jessaskey

[2020-06-30 03:15] jessaskey commented on #142
Not able to duplicate this as of 0.67 so Im going to close it for now.

[2020-06-30 03:15] jessaskey commented on #141
I think this was a save file issue from around the time this was submitted... going to mark as closed for now.

[2020-06-30 03:17] jessaskey commented on #55
Im going to close this one for now because there are definitely some weird ways that the perkoids behave in interacting with the wall collisions etc. Anything funky will need to be designed around at this point, plus I think after removing the adaptive difficulty, we are at least having the same timing everywhere now.

[2020-06-30 03:17] #55 closed, assigned to jessaskey

[2020-06-30 03:19] jessaskey opened #162 "Finalize all Max speech"
After Max is done being developed, make sure to re-record all the speech samples and make them consistent.

[2020-06-30 03:21] jessaskey commented on #53
gonna close this one because I think the removal of the adaptive difficulty helped with this.

[2020-06-30 03:21] #53 closed, assigned to jessaskey

[2020-06-30 03:22] jessaskey opened #163 "Allow player to move the ship during the tesseract animation"
It would be fun if the player could move the ship during this!

[2020-06-30 03:26] jessaskey commented on #120
This need to be in the right half of the 00 (X axis) position otherwise they will 'snap' over to the other side. I will see if I can duplicate this in 0.68 ROM's and then close if not.

[2020-06-30 03:38] jessaskey opened #164 "Misc Issues 0.67"
Issues fixed that were documented by Jerky, but I don't want to create seperate issues for all of them.

1. I now have Max using 100% his own collision routines (both body and head cases), I found and fixed an issue with Max passing through type 4 and type 5 walls. There may be other wall segments with issues, I will walk through all of Jerky’s feedback on passthrus in the next version.
2.	I rewor

[2020-06-30 03:38] #164 closed, assigned to jessaskey

[2020-06-30 04:01] #118 closed, assigned to jessaskey

[2020-06-30 19:03] jessaskey opened #165 "Random Color Effect Lost After Transporting"
So far every transporter I have tried causes the Random Color effect to be lost when you come out the other side (back to normal maze colors). Doesn't matter which direction either. Maze stays that way until base is destroyed then the random colors come back at the next level's HUD.

[2020-07-06 05:05] jessaskey commented on #165
Jerky, do you mean the random whacky colors after the final station and the levels repeat, or the level maze colors on the hidden levels and the final station? I just tried this on the 0.68 dev version by placing a transporter on level 1 and forcing the code to think it is the second time around... maze colors are different, upon exiting the transporter, but they are still random... actually, the

[2020-07-10 04:43] jessaskey commented on #163
Okay, this took lots of fun tweaking, but I believe this is good now... :-)

[2020-07-10 05:42] jessaskey commented on #36
Okay, I actually found something weird in the code around this that was a typo from translating between the production ROM's and the Promised End code... it was a hexidecimal vs decimal issue. It seems to make the boots behave better now.

[2020-07-11 00:39] jessaskey commented on #72
Re-instated my old code for this which should work better now that I figured out some stuff. Lets see how it works!

[2020-07-29 05:35] jessaskey opened #166 "Normal Transporter Effects Lost on Final Station"
Is there a way to add back the existing sparkly transporter materializing effect or something else cool like that when the player appears in the next part of the Vaxx Mainframe maze from a previous levels flashing transporter? (21>22, 22>23, 23>24).

The player just sort of plops into existence on the next maze with only the maze wall transporter effect. I feel like it would be more interesting to

[2021-01-07 01:06] #163 closed, assigned to jessaskey

[2021-01-31 03:50] jessaskey commented on #166
Ironically, in order to do the rest of the transporting effects it is going to be pretty tricky, or maybe I should say, it will potentially cause many other bugs due to some of the messiness around the transporting variables in the code and sorta the fragility of it. I think that right now, it may need to be an unfortunately shortcoming of the final levels. Im not going to close this but I will no

[2021-01-31 03:56] #102 closed, assigned to nobody

[2021-01-31 16:23] jessaskey commented on #142
Jerky, Im going to close this so it disappears from the issue list, but if you see it again from ROM 0.75 onwards, submit it again and include a MAME save state so I can investigate. I have a hard time playing straight through to level 21 and if I just start here or warp to it, everything seems fine. I think you might be finding a bug that is from the previous level perhaps but I just can't find i

[2021-01-31 16:23] #142 closed, assigned to jessaskey

[2021-01-31 16:24] jessaskey commented on #141
Same as the other issue, Im not able to duplicated this one as I can't play straight up to Level 20, so if you can send me a MAME savestate for this when it happens (pause on tact when it is missing) and I can try to dissect it. thank you!

[2021-01-31 16:24] #141 closed, assigned to jessaskey

[2021-01-31 16:29] jessaskey commented on #120
Okay, so objects that need to be hidden like this just need to be outside the maze on the right side. Looks like most of the designs do this now so I will close this issue.

[2021-01-31 16:29] #120 closed, assigned to jessaskey

[2021-01-31 16:30] #36 closed, assigned to jessaskey

[2021-01-31 16:31] #13 closed, assigned to jessaskey

[2021-01-31 16:32] #105 closed, assigned to jessaskey

[2021-01-31 16:34] jessaskey commented on #70
I went through and audited this code a bit so hopefully things are working better now. I decreased the max number of balls down to 2 for now as well.

[2021-01-31 16:34] #70 closed, assigned to jessaskey

[2021-01-31 16:35] jessaskey commented on #41
Done!

[2021-01-31 16:35] #41 closed, assigned to nobody

[2021-01-31 16:37] #58 closed, assigned to jessaskey

[2021-02-02 02:55] jessaskey commented on #126
For some reason the routine for drawing the pouch was just commented out. So this is now fixed!

[2021-02-02 03:02] jessaskey commented on #122
To Owen's point, I don't see anything in the positioning code that looks funny around this and in fact, the reactor position is set by the same 'locate' function that all other non motion objects use, so this may indeed be something with the digital part of MAME perhaps. Im going to mark this one closed for now unless it comes up again for some reason.

[2021-02-02 03:02] #122 closed, assigned to jessaskey

[2022-04-02 03:33] #72 closed, assigned to jessaskey

[2022-04-02 03:33] #52 closed, assigned to jessaskey

[2022-04-02 17:09] bakerhillpins opened #167 "New game will end up playing the VAXX space station for 1st level."
Start a game and get into the 1 Space Station. Kill off all your lives except the last. Allow your last man to die by running out of Oxygen. Immediately start another game.

Note that the Scanner page appears to be drawing 2 different versions, the score is all whacked out, and when you launch to battle the space station you're at the home world.

[2022-04-02 17:13] bakerhillpins opened #168 "Loosing your last life in the space maze results in a weird space maze during the continue screen."
Play up to level 3 where your attack on the space station is via the maze. Die inside the maze and the attract mode afterward has a janked up space maze draw on it.

![image](https://user-images.githubusercontent.com/5980709/161393796-34063e8c-f702-4a81-a002-b19f5c0e9a79.png)

[2022-04-02 17:17] bakerhillpins opened #169 "Adaptive difficulty type behavior on "Galaga" space station battle."
This is a hard one to prove at the moment, I'll need to take some video. It seems like every time I die battling the spaceships trying to land for level 6, when I start battling the ships again they are way more aggressive than they were on the previous life.

[2022-04-03 04:00] jessaskey commented on #169
Okay, so I looked at the code for the Fighters (Type B levels) and the Fighters+RedBar (Type D levels)... and there are only two things that vary as far as gameplay and difficulty...  the number of fighter shots that can be on the screen at the same time (from 2-8) and then the fighter shot X tracking velocity (from 6-25 units per move).

One thing to keep in mind that both the space section AND t

[2022-04-03 04:02] jessaskey commented on #168
So, this is weird as I just can't replicate this in MAME at all. Is this something that you can do consistently?

[2022-04-03 04:38] jessaskey commented on #168
Okay, looks like I had some memory overlap between the space maze and some of the vars used in switching players and transitioning between major game sections. I moved the space maze base RAM location and things seem to be okay now.

[2022-04-03 05:30] jessaskey commented on #167
Okay, I found this issue... looks like the startlevel variable was going to 0xFF which was not making the game initialization code very happy since it was -1.

[2022-04-03 12:41] bakerhillpins commented on #169
That explanation makes a lot of sense and follows my observations. Specifically, when I think about how fast the shots were when there were 1-2 fighters left on the screen.

Any way to "pace" the drawing routine to give a more consistent timing/frame rate and feeling of speed? It sounds like the code responds to the completion of the vector generator rather than say a periodic interrupt? I realize

[2022-04-03 12:55] bakerhillpins opened #170 "The upper 1/4 of the screen flashes randomly during the Catastrofigher landing animation."
The scores/lives that's in the upper 1/4 of the screen is dropping a few "frames" during this animation. I recorded a slo-mo video to show the weirdness.

https://drive.google.com/file/d/10QUrQkmh6wN-O7c_Q_vcHa4HtAjnx0uG/view?usp=sharing

It also appears like this might be going on during the attract mode as the upper part of the M and H in the Major Havoc text seems to drop out at odd intervals.

[2022-04-03 15:24] jessaskey opened #171 "Warps codes resetting on each GAMMA reset"
It appears that the random warp codes are being reset and rerandomized on every gamma reset, including in the EEROM... why?

[2022-04-03 15:26] jessaskey commented on #171
This was a bug in the gamma reset code. The intent was to initialize any warps that were undefined (-1) because if a new EEROM was ever inserted or if MAME was run fresh, then the values were invalid. The code was simply doing all warps regardless of the current warp value.

[2022-04-03 15:33] jessaskey commented on #170
#167 might have done something, but Im not sure it will solve this. I also found that the Y Window was being set in some code around the drawing of the scores and I cleared it for this next build. We will have to see what happens like you mentioned.

[2022-04-03 16:30] jessaskey commented on #169
Ha... no not at this point. Owen could probably go into this more, but at this point in code, there didn't seem to be any idea of 'throttling' based upon the speed of the main loop it was basically in the mode of running as fast as it can. The IRQ would be the way to base any sort of measurement of main loops against time but I think that in the end, the complexity of the Maze rendering sorta made

[2022-04-16 16:20] jessaskey commented on #170
Okay, Im not sure that this is actually a Y-Window situation after all. I think the issue is deeper because as far as I can tell, the Y-Window is working correctly now that @bakerhillpins and I went through and discussed how the Y Sample and Hold circuit works to actually make the Y-Window effect. The biggest issue I have found is that the MAME VGenerator is obviously different in how it executes

[2022-04-16 16:22] jessaskey commented on #170
Note that this is still a BUG and I have confirmed that on my current 0.79 ROMs that it flickers badly on physical hardware but works fine in MAME. It does appear that the flickering only happens during the TW_SHIP library for rendering the ship on the screen because the flickering happens anytime the ship is on the screen EXCLUDING the time in the maze. Notable is that the ship rendering during t

[2022-04-16 17:04] jessaskey commented on #170
A general big braindump on some of the nuances of the Vector Generator and Alpha Processor interactions...

**6502 Loop vs VG Loop**

Major Havoc has a double-buffered Vector Generator memory structure. The overall idea is that the 6502 Alpha processor fills one VGRAM buffer (located at $4002) and then when it is done, it sends the VGGO signal to the VG to start processing. As soon as it send the

[2022-04-30 18:00] jessaskey commented on #170
I ended up going down the Waste vector as a RED (visible) box for testing on this... and while Im not entirely sure why at this point, the 'waste' vector is what is causing the flicker on the physical hardware. By making it visible, it is clear that during each flicker, the VG is trying to draw the red box. Oddly tho, on my machine, the actual drawing of the box is sorta 'glitching' out and doing

[2022-05-01 14:14] bakerhillpins commented on #170
The flickering seems to be corrected.

This new build is looking really good. I need to spend some more time playing but it's really smooth. Haven't seen any flicker yet. Trying to play some of the upper levels.

[2022-05-01 14:19] bakerhillpins opened #172 "Vector drawing error, Level 3, exit transporter."
When exiting the maze on Level 3, you go through the transporter. When you materialize a vector shoots off to the upper left. See pic.

![image](https://user-images.githubusercontent.com/5980709/166150045-c14ec459-9e69-46da-ae9e-f37faa8e19a0.png)

[2022-05-01 14:21] bakerhillpins opened #173 "No end of game sounds when loosing last life on space maze."
If you loose your last life on the space maze, when the fireballs are falling (not while you are moving through it) no end of game sounds are played.

~TBH, it might be that way when flying through the maze too but I didn't loose my last life there.~  Just tested this. No after game sounds when you loose you last man in space maze.

[2022-05-01 14:31] bakerhillpins commented on #168
This is fixed in the latest ROMs you sent.. mhavocpex7_079blr

[2022-05-01 14:32] bakerhillpins commented on #167
This is fixed in the latest ROMs you sent.. mhavocpex7_079blr

[2022-05-01 14:37] bakerhillpins opened #174 "Issues with option settings on Self Test page."
Some stuff that doesn't operate the way I expected when I tried the Self Test Option settings.

1.  Can't select reset to DIP settings unless you made a change to one of the options. Any change, even back to what it was.
2.  For some reason Free Play/Coin settings don't allow you to change them away from the DIP settings. And once you've made a choice in Self Test it will not allow you to change e

[2022-05-01 14:48] bakerhillpins opened #175 "Roller flashes at 2x rate when coined up."
Don't know if it's intentional or not but in free play/when coined up the Roller flashes at 2x the Production speed.   I personally prefer the OEM setup.

If it matters, when in self test, it flashes at the OEM speed.

[2022-05-01 14:56] bakerhillpins commented on #171
I noticed this and thought that was on purpose so that the player would have to figure them out each time the game lost power.  Which was incredibly hard but anyway. I'm glad you are planning on changing this.

[2022-05-01 15:45] jessaskey commented on #174
1. and .2 - I will check this out on my game too just to make sure I understand.
3. So DEMO mode is special in two ways... it is always Medium difficulty and it is always FREE play.  Since demo mode is an option in the difficult DIPs... you can't select DEMO AND a difficulty, there has to be a default for it. I would change it, but then the DIPS start having totally different functions and while I

[2022-05-01 17:08] jessaskey commented on #175
I was wondering if I was going to mess up the timing on this one... I don't have a flash indicator on MAME and on my Alpha One proto, it has a solid black roller and no wiring for the flasher bulb. :-)   I will halve it now and you can check it out in the next ROMset I send ya!

[2022-05-01 17:29] jessaskey commented on #173
So on this... what do you mean by end of game sounds? I think the only sounds that might happen after you die the last time is that if you get a high score, then it will play the music for the high score. Actually, looking at the code... maybe I see the issue... I can see that for top 3 score, you get the 'pre-fireworks'... those should make explosion sounds Then when the high score entry table sh

[2022-05-01 17:32] jessaskey commented on #169
Im going to close this version of this bug for the version .79 release but if this is still an issue, it can be resubmitted as an issue and I will reference this one.

[2022-05-01 17:32] #169 closed, assigned to jessaskey

[2022-05-01 17:33] #167 closed, assigned to jessaskey

[2022-05-01 17:33] #171 closed, assigned to jessaskey

[2022-05-01 17:37] jessaskey commented on #170
I'm going to close this specific issue as well to wrap up the v0.79 release (next release I send will be in the v0.80 milestone). It does still seem like there are some 'speed' timing issues that we need to resolve, but I would prefer to solve those separately now. Until the value of the 'waste' process becomes apparent, Im going to take it out as it generally slows down the game overall... Im a l

[2022-05-01 17:37] #170 closed, assigned to jessaskey

[2022-05-01 17:41] #126 closed, assigned to jessaskey

[2022-05-01 17:47] jessaskey commented on #172
I have seen this (on MAME even) but been unable to get it consistently to happen... I *think* that whatever is causing it will happen on any transporter level because Jerky has reported this in the later levels... but it does happen on level 3 which is substantially easier to get to repeatedly. I though maybe it didn't happen unless you played previous levels vs using DEMO mode to start right on L

[2022-05-01 17:52] jessaskey commented on #125
Can you elaborate on this a little... right now they sorta just disappear when touched and should show up on the top scanner 'key 'area'?  I will have to investigate this a little more too.

[2022-05-01 17:53] jessaskey commented on #99
Okay, still trying to investigate this and get it consistently. I wonder Jerky if you can send me a MAME gamesave so I can try and resume from the same spot to see what is happening?

[2022-05-02 03:46] jessaskey commented on #174
Okay #1 is fixed in the v0.80 ROMs...  as to number 2 above... when changing settings in MAME, things seem to work as normal.

1. Hit fire to move to a setting.
2. Rotate roller to change setting (this will turn on the 'Hit Shield to Confirm' message when the setting is different from NVRAM
3. Hit Shield
4. Hit Shield again to confirm.

Setting is saved. Leaving self test and coming back shows the

[2022-05-02 12:25] bakerhillpins commented on #174
For 2 it must have something to do with reading the HW then. Because it makes the change on the screen but when you exit and return it returns to the previous.  The odd part is if you change the physical DIP sw, and then go into self test it will show the previously set val. You can try to change it but it behaves the same: It allows the change, when you exit and return it's back to the previous v

[2022-05-02 12:32] bakerhillpins commented on #173
I tested this last night, No sounds when you loose your last life anywhere in the space maze and have a score in the top 10.  It appears that the music is played for any High Score, not just the top 3 (which get the fireworks) as in a previous game I got HS 4 and it played the theme while I could enter my name.

Not sure if it's important (I don't think so) but there's no countdown timer for enter

[2022-05-02 12:36] bakerhillpins commented on #172
I've attempted to reproduce this a few times last night and no dice. I didn't play competitively on that level though, just raced through to see if it would show the bug. I also kept going back and forth through it to see if it would eventually occur. Nope.

I'll play a few competitive games this afternoon and see what if anything changes.

[2022-05-02 18:54] jessaskey commented on #174
So it is definitely confusing having both the DIPs AND the ability to change settings in the Self Test. I did this because it basically sucked to have to pull your cabinet out from the wall, flip your dips etc... especially for something like going into DEMO mode.... so that was why I did this originally, plus I thought it was 'neat'.

So, the DIPS are the 'default' or in this case the 'fallback'

[2022-05-02 18:56] jessaskey commented on #172
So there is a distinct chance that the waste vectors were causing this too.... so Im wondering if removing the waste vectors, if we solved this as well? I have not seen this since before the 'blr' ROM set.

[2022-05-03 11:36] bakerhillpins opened #176 "End of game continue mode not needed for Demo Mode"
When playing in Demo Mode, at the end of the game it puts up the Continue/Buy In screen. This screen is a variation of the Demo Screen but it only lets you start up to level N-1 so it's limiting/confusing. For the first couple games I sat there letting it timeout because I wanted to start at a higher level but then I realized that if I hit the start button (because I'm in free play) It would immed

[2022-05-03 11:36] bakerhillpins opened #177 "Change position of Tesseract on level 10"
The Tesseract that we use to hint of their existence on level 10 isn't seen when dropping into the maze.  IIRC the idea here was to make it close enough to the player dropping into the maze so that it would just fade in and out of existence, thus hinting at hidden things in the game. On my game with what I'll call "decent" color adjustment I don't actually see it fade in unless I move Rex to the l

[2022-05-03 11:48] bakerhillpins commented on #177
The Tesseract that we use to hint of their existence on level 10 isn't seen when dropping into the maze.  IIRC the idea here was to make it close enough to the player dropping into the maze so that it would just fade in and out of existence, thus hinting at hidden things in the game. On my game with what I'll call "decent" color adjustment I don't actually see it fade in unless I move Rex to the l

[2022-05-03 11:59] bakerhillpins opened #178 "The Alpha CPU Self Test page flickers."
The Alpha CPU Self Test page flickers, much more so than any of the other test pages. It does have a LOT of text so it may just be the nature of the beast but I figured I'd mention it anyway.  It also seems to stop drawing the outer red box as it draws it from Left to Right across the top of the screen.  Meaning the left hand side of the top of the box is red, and about 60% of the way across the t

[2022-05-03 13:39] jessaskey commented on #178
Yep, this is a direct symptom of 'too many vectors'... similar to what you see on the Star Wars credit screen. Ironically, writing small text is the true killer because of all the vectors in a letter with lots of invisible vectors for positioning too. I will double check on my hardware about the top red line to see what I can tell before I close this issue tho.

[2022-05-03 13:42] jessaskey commented on #162
Calling this one done for now. All Max voices were re-recorded in a consistent way.

[2022-05-03 13:42] #162 closed, assigned to jessaskey

[2022-05-03 16:25] bakerhillpins commented on #178
So I just went downstairs to grab a pic of this and it didn't happen (the red line fading out) so I'll have to keep track of this during my other testing. I knew I should have grabbed a snap of it when I saw it.

[2022-05-04 21:57] jessaskey commented on #172
Okay, I spent *alot* of time and tracked this down... here is a picture..

![image](https://user-images.githubusercontent.com/3683098/166831606-6d939f73-1338-4087-a97a-d1b24cb4c82e.png)

Looks like after doing a VGRAM dump and running it through my simple 'viewer tool' (scale is not quite right in some places, but it solves my issue)...

![image](https://user-images.githubusercontent.com/3683098/1

[2022-05-05 04:56] jessaskey commented on #172
Okay, I found and fixed this... should be good to go in v0.80.... issue was not restoring the X register properly after calling a new subroutine.

[2022-05-05 06:08] jessaskey commented on #176
Okay, I think I have this fixed now. In testing for v0.80.

[2022-05-05 08:08] jessaskey commented on #177
Okay, this is fixed... I nudged the tesser right over to the left side of the wall now. I have a new set of Editor ROM images that I can check into the mhedit project too... but to be honest, Im not sure how to make new branches anymore in that project. You might need to help me (or I can send you a .zip of the template ROM images if you want). Moving this one to testing now. It will certainly hel

[2022-05-05 08:10] jessaskey commented on #174
I just saw this happen on MAME when I was switching between DEMO mode and Medium for testing. So I will look into this before releasing v0.80 ROMs.

[2022-05-05 08:14] jessaskey commented on #99
I have hopes that #172 was causing this as a side effect, but for now Im going to keep this open until I can confirm.

[2022-05-05 08:15] jessaskey commented on #62
I have hopes that #172 was causing this as a side effect, but for now Im going to keep this open until I can confirm.

[2022-05-05 08:33] jessaskey commented on #173
Confirmed there is no countdown timer for high score entry... Im not going to add one right now either unless I get some spare time. Maybe we can talk about the sounds issue as I dont think I understand what the issue is. :-)

[2022-05-05 08:36] jessaskey commented on #166
Im going to close this one for now... after fixing a handful of bugs around the hack to do inter-level transporting to trick the final big space station, I feel that this code is pretty messy and would be very likely to introduce bugs if I mess with it. Gonna pass on this one.

[2022-05-05 08:36] #166 closed, assigned to jessaskey

[2022-05-05 10:43] bakerhillpins commented on #177
Nothing has changed about how you check in any ROM updates or make releases. Do it how you have in the past. I'm off on some branch making a complete mess working through a handful of the issues that were effectively blocking me before I make an investment in changing everything else around it.

[2022-05-05 10:47] bakerhillpins commented on #173
Yea, I don't actually think a HS countdown is needed frankly..  Maybe make it like Star Wars and it's timed to last as long as the High Score theme plays?

I'll go down and play a game or two to make sure I have it straight and we can talk about the missing music. I'll probably update here too for posterity.

[2022-05-05 22:44] jessaskey commented on #168
I just saw this one again in v0.80 again on the space maze after game level out graphic. I will go see what the overlap is between the high score table and the space maze, that must be the issue.

[2022-05-05 22:46] jessaskey opened #179 "Tactical Scanner left side ship missing"
I noticed this after playing a single game and then starting a second game...  the ship was just completely gone... only the dots.

[2022-05-06 03:28] jessaskey commented on #179
Okay, this is fixed now... found that this was a bug around detection on if Rex had picked up a tesser so the ship would not show as it was expecting to go into the wormhole animation.

[2022-05-06 03:32] jessaskey commented on #168
I needed to shift the fireworks object variables into a set of Maze vars that were not used even in the 'after game' level. I ended up also needing to not use some of the temp variables that were used in the space maze and other phases of the game because the fireworks were messing up those states and causing weird behavior.

[2022-05-06 03:35] jessaskey opened #180 "Space Station explostion in wrong place on screen"
It seems like after Style C (level 3) mazes, that after leaving the maze, that the space explosion could be rendered wrong. I have seen it down in the corner, or sometimes with just like quadruple explosions.... not sure how consistent this is tho.

[2022-05-06 11:17] bakerhillpins commented on #168
Ah, I bet that's why I didn't see this when I tried it again. Because I don't actually get a top 3 high score much since I've basically filled them up with scores which require me to get past the first 6-8 levels.

[2022-05-07 03:29] jessaskey commented on #174
Im going to make a new issue for the leftover issue on this with the Self Test settings not sticking so we can close this one.

[2022-05-07 03:31] jessaskey opened #181 "Self Test Settings not staying put/changing"
From Bryan: For some reason Free Play/Coin settings don't allow you to change them away from the DIP settings. And once you've made a choice in Self Test it will not allow you to change even if you actually change the DIP setting. The only way to get it to move is to select the reset to DIP and then it will follow the new board setting.

From Jess: I was able to see this by just trying to save the

[2022-05-07 13:12] bakerhillpins commented on #173
So I went and tried this again and I can't make it occur. As you've reported that there were still issues with end of game stuff getting botched up (from the fireworks IIRC) I'm now suspicious that it might have something do do with that. So I guess I should clear the HS table and see what happens. I know I noticed it after a decently long play session so maybe I just need to play for a few hours.

[2022-05-08 01:25] bakerhillpins commented on #181
Loaded up the new .80 ROMs and noted that several values are incorrect, at least according to the manual. I have not loaded up the OEM ROMs to validate that it reads it differently.

I've got DIP settings for Med Diff, 3 lives per player, and Adaptive off.  Self test screen says (and game plays) 4 lives per player and Easy Diff.  Adaptive is ignored.  (Easy Diff is new for V 0.80 ROMs. The .79 bui

[2022-05-08 01:27] bakerhillpins opened #182 "2 player game - 2nd player's turn the controls don't do anything on Dedicated cab"
If you play a 2 player game the 2nd player can't play because the Roller doesn't move the ship and the fire/shield buttons don't work. I'm betting something is compiling in Cocktail mode.

On that note, there is no DIP switch or Self Test option for Cocktail mode. Not sure how you were thinking of implementing that.

[2022-05-08 01:29] bakerhillpins commented on #175
This is now flashing at 4x on the v0.80 ROMs.

[2022-05-08 01:30] bakerhillpins commented on #180
OK, I think I'm seeing what you're talking about here,  It might also only be for certain levels as I could swear it looks OK on some of them.

[2022-05-08 01:33] bakerhillpins commented on #173
I was watching my son playing v0.80 and he died on Level 3's space maze. He lost 2 lives and at end of game got HS number 4, but no HS music played.

[2022-05-08 01:37] bakerhillpins opened #183 "Killing the last flyboid with the Catastrofighter on Level 2 causes random vectors to be drawn on the screen."
Playing the space battle to level 2, I destroyed the last Flyboid by hitting it with the Catstrofighter. The result is a quick flash of what appears to be random vectors on the screen. Almost looked like they were drawn in sparkle.  The subsequent Landing sequence seemed normal as did game play.

[2022-05-08 01:46] bakerhillpins opened #184 "Catastrofigher perspective looks off when landing on space station."
TBH, I can't recall what this looks like on the OEM implementation, but as I'm testing the game right now I'm kinda sensitive to everything I see.  I'll try to explain what I'm seeing:  It's like the left "wing" of the ship is thinner than the right wing. When landing and the ship is centered on the screen this seems more weird as from the player's perspective (which is center screen) you'd expect

[2022-05-08 18:29] bakerhillpins commented on #184
Looks the same on the OEM version of the game. Funny I never noticed before.

[2022-05-08 18:29] #184 closed, assigned to nobody

[2022-05-08 18:30] bakerhillpins commented on #181
Loaded up the OEM ROMs and they read the DIPs as I'd expect based upon the switch settings.

[2022-05-09 04:18] jessaskey commented on #180
Okay, I found this issue very specifically, should be good to go now in this release.

[2022-05-09 04:20] jessaskey opened #185 "Roller was flashing 4X after v0.80 release"
Shift the other direction

[2022-05-09 22:13] jessaskey commented on #175
Failed... created #185 in the v0.81 release

[2022-05-09 22:13] #175 closed, assigned to jessaskey

[2022-05-10 04:54] jessaskey commented on #181
Just to clarify... if you put in HavocPE ROM's and your NVRAM already has data from PE, it won't reflect what is on the DIPS. The DIPS are only used if you go into SelfTest and select the 'RESET ALL TO DIPS'.

Also, the DIPS are slightly different on PE... for for all intent purposes, you really don't need to use them since you can change the game settings in self test.

[code]

There is still a b

[2022-05-10 04:59] jessaskey commented on #182
So the cocktail mode on the later Atari games (and actually Major Havoc specifically) is implemented by the 'Cabinet' input on the edge connector. Reasoning behind this is that I think Atari didn't want operators to have to deal with flipping DIPS when swapping out PCBs... so if you look on the Havoc Alpha Memory Map, you can see on the inputs ($1200) bit D7 is the cabinet input. When not connecte

[2022-05-10 07:25] jessaskey opened #186 "Truncate the Alphnumerics on the crosshatch screen in Self Test"
I noticed that the original havoc during the crosshatch screen, ran the alphanumerics off the edge of the screen. Given that I have now added about 20 more characters, it is probably not very healthy for the monitor to draw ALL those characters. We should stop the alpha characters after the letter Z to keep text tested, but not excessive.

[2022-05-10 07:33] jessaskey commented on #186
Okay, this is done... Unfortunate side effect of this is that all the Vector ROM's will need to be reburned for v0.81

[2022-05-10 12:29] bakerhillpins commented on #181
Gotcha.
One of the thing's that's confusing here (thus is generating comments from me) is that the OEM ROMs have the # of lives per game setting tied to the Game Pricing option. For Example the OEM setup has the 3 lives per player on Free Play, and 4 per player on 1 coin per 1 play in the 2nd row in the pic below.

![image](https://user-images.githubusercontent.com/5980709/167627283-584b15e7-329d-

[2022-05-10 12:31] bakerhillpins commented on #182
Ah, yes... that's correct. I knew I wasn't remembering something when I was reviewing this in my head.

[2022-05-10 12:32] bakerhillpins commented on #186
LOL, I've been re-burning everything anyway.

[2022-05-10 13:16] jessaskey commented on #181
Yep, I got rid of that and also eliminated the 2 players per game setting as it was silly. Plus, I needed ROM space in non paged ROM. The whole 2-Coin minimum is also gone.

From: Bryan Roth ***@***.***>
Sent: Tuesday, May 10, 2022 6:30 AM
To: jessaskey/mhavocpe ***@***.***>
Cc: Jess Askey ***@***.***>; Assign ***@***.***>
Subject: Re: [jessaskey/mhavocpe] Self Test Settings not staying put/changi

[2022-05-12 04:17] jessaskey commented on #182
Okay, found the issue on this one... moving to testing for the v0.81 release.

[2022-05-17 02:28] jessaskey commented on #181
Okay, I somewhat gutted this and verfied that it all works in MAME now correctly. Will test in ROM's after release.

[2022-05-17 02:30] #174 closed, assigned to jessaskey

[2022-05-17 02:30] #172 closed, assigned to jessaskey

[2022-05-17 02:31] #177 closed, assigned to jessaskey

[2022-05-17 02:31] #176 closed, assigned to jessaskey

[2022-05-17 02:31] #168 closed, assigned to jessaskey

[2022-05-17 02:31] #179 closed, assigned to jessaskey

[2022-05-17 02:32] #178 closed, assigned to jessaskey

[2022-05-17 03:02] jessaskey commented on #183
I tried to duplicate this one and was not able to do it... it was actually fairly difficult to die by hitting an actual ship rather than one of their shots. I will leave this open and hopefully we can collect more info here if it can be duplicated again. There is a small chance that this bug gets fixed by some of the other fixes in this release but that is also a bit of wishful thinking on my part

[2022-05-17 11:41] bakerhillpins commented on #183
When 0.81 comes out I'll give this another shot at reproducing and maybe try to grab a video.

[2022-05-19 22:10] bakerhillpins commented on #185
This appears to be fixed in 0.81. It still seems like it's a bit fast but it's not hyper like it was and it's more like it is in the Self Test screens now.

It seems like the interval is connected to the screen refresh rate. Weird.

[2022-05-19 22:12] bakerhillpins commented on #182
This is fixed on 0.81 for the upright game. I don't have a way to test cocktail mode though. Well I could jump some pins to GND. Might try that later.

[2022-05-19 22:13] bakerhillpins commented on #181
Ok, this appears to work now, selections change and stick, but when I "Reset To Dips" I end up with 2x the roller speed rather than 1x which is what I'd expect.

[2022-05-19 22:14] bakerhillpins commented on #183
I've been able to try this a few times and I've not seen the artifact that I saw previously. I'll keep trying and report back.

[2022-05-19 22:15] bakerhillpins commented on #186
This is truncated now.

[2022-05-19 22:19] bakerhillpins opened #187 "Max Robot colors seem extreme"
So I played Level 25 in demo mode, and the max robot at the center of the maze starts dormant.  On my monitor he's barely visible in this state. My red levels seem fine in the game otherwise.

Then when you wake him up, it's like he's a neon sign.  I think these 2 states need adjusted a bit inward so the contrast between the 2 isn't so exaggerated. I'll add pics in a bit.

V0.81 roms

[2022-05-19 23:14] bakerhillpins commented on #187
Images
Deactivated:

![image](https://user-images.githubusercontent.com/5980709/169419014-4bc372da-d5f7-47c5-92e8-d4b73debef65.png)

Activated: (Not so great, tried to move away while snapping)

![image](https://user-images.githubusercontent.com/5980709/169419053-79086683-62da-45f2-97eb-823d85ea1588.png)

[2022-05-19 23:18] bakerhillpins opened #188 "Max Robot sounds are not turned off at end of turn/game"
Play level 25. Activate Max Robot and you will hear the sound associated with him. If you are killed while that sound is active it will not be turned off.

If you restart the level, it will be turned off when you drop into the level.
If your last man dies while that sound is active it remains on in attract mode. Forever, as far as I can tell. I went into self test to make it stop.

[2022-05-19 23:41] jessaskey commented on #181
I will investigate this new issue and pin this to the v0.82 milestone.

[2022-05-19 23:42] #186 closed, assigned to jessaskey

[2022-05-19 23:42] #180 closed, assigned to jessaskey

[2022-05-19 23:42] #185 closed, assigned to jessaskey

[2022-05-19 23:45] jessaskey commented on #182
I wouldn't spend time trying to flip this.. it will probably become a timesuck because you will also need to bridge the buttons over to the 2P inputs AND wire in an opto to the 2P LETA inputs. I am fairly certain that this will work and someone that actually has a cocktail setup (not factory) can spend the time testing and reporting any issues. :-)

[2022-05-19 23:45] #182 closed, assigned to jessaskey

[2022-05-20 01:12] jessaskey opened #189 "Attract sound can not happen for a very long time (weirdly long)"
The attract mode sound was changed from the factory behavior to 'flip a coin' every 4 attract mode loops, and half of the time, play the attract mode. Due to patterns with the pokey, the attract mode could not play for a fairly long period of time using this approach.

[2022-05-21 01:49] jessaskey commented on #187
The 'dim' state for the Max Robot was set to intensity ($60)... I moved this up to $80.

However, the weird thing is that the 'bright' state of the Max robot is intensity $E0 BUT I looked at the red sparkoids routine and those are drawing with an intensity of $F0 so those are/should be the brightest RED2 color, even brighter than the Max robot. Im curious what your Trip Pad pyroids look like in co

[2022-05-21 02:00] bakerhillpins commented on #187
Weird, the TripPadPyroids don't appear to be as "neon". I'll grab a few more pics of the enemies in question as well as take a pic of the self test screens that show intensity. (Both of them)

[2022-05-21 02:10] jessaskey commented on #187
So the only way that a Max could be substantially brighter then is that they are being drawn more frequently than the other objects... I might have a looping bug that is redrawing the max body more than once... this is something that from a MAME standpoint, I wouldn't be able to see.

[2022-05-21 05:11] jessaskey opened #190 "French and German Text is not positioned correctly"
Since the French and German versions of the ROMs are word translations and not just letter translation. The phrases are obviously different text lengths from English. This causes issues in a number of places where the text is not properly centered or in the absolute same position as the English text.

The reason for this is that currently, text is centered by manually specifying the start position

[2022-05-24 02:02] jessaskey commented on #187
Okay, updated to dim of $A0 and Bright $E0... both are normal RED now instead of RED2 (intense RED)

[2022-05-24 02:05] jessaskey commented on #190
This took a bit as I had to implement auto centering for text strings based upon the data defined in the string. Required an additional feature to TASMx since the compiler has no ability to parse data strings and get their length. I implemented and tested this on English, French and German text... most notably for the maze hint text 100%... outside of the maze hint text, I only did the 'auto cente

[2022-05-24 02:07] jessaskey commented on #181
So, can you make sure that your switch @ 13/14S switch #8 is in the OFF position? That is the default and should result in a roller multiplier of 1X. That switch position was the old Adaptive difficulty switch and if you had Adaptive difficulty turned OFF, then the roller would be showing as X2 on 'reset from dips'

[2022-05-24 03:19] jessaskey commented on #188
Okay, I think this one is good... set to status = testing

[2022-05-24 04:25] jessaskey opened #191 "Adjust Long Range scanner when doing tesseract level"
When the player lands in the tact scan for a 'hidden' tesseract level. The Level # should not be shown (because they are in a way 'levelless'.... so that should be hidden. Also, to go along with that, the normal left side animation of the ship should be hidden too because that shows a linear progression from start to end, but the tesseract levels are supposed to be in different time and place from

[2022-05-24 04:26] jessaskey commented on #191
What Im going to do for this is to hide the 'Level XX' part of the text.. and then the Long Range Scanner will still have the planet and vax cube ending but will show a pulsing 'question mark' in the normal left box. This should work decently enough.

[2022-05-24 11:26] bakerhillpins commented on #181
OOF, that's my bad.. I've got Adaptive Difficulty set to OFF on the OEM game which apparently translates to 2x roller speed. That must have been an issue that I didn't notice previously because it took me by surprise when I upgraded to test this.

Hrm... I'm being lazy here and thinking about this from a "what's the most common DIP settings" to make transition back and forth less painful switch wi

[2022-05-24 11:39] bakerhillpins commented on #191
Seems reasonable to me. Glad I grabbed a video of it for you. Lots more info in there I didn't notice.

[2022-05-24 12:08] jessaskey commented on #173
Im going to move this into v0.83 I think. I just tried this in MAME by dying on Level 3 space maze with a score on #4... the end music played for me with that one.

[2022-05-24 15:16] bakerhillpins opened #192 "Tactical Scanner timeout seems short"
The Tact Scan timeout seems really short if you don't touch a button to start the breakout game. I'm counting basically 2ish, maybe 3 seconds before exiting the screen. I've always found that faster than comfortable. I recall the OEM game being quick as well. BITD it was probably to keep game play time within a specific range but now I think maybe we could add a little here?  I think this matters

[2022-06-08 04:46] jessaskey opened #193 "Make Max 'Agressive' speed slower"
In the advanced levels where Max is set to 'Agressive' speed, it is almost impossible to escape from him in the actual game with short trigger distances. The aggressive speed needs dropped a tad holistically across the game.

[2022-07-04 12:21] #188 closed, assigned to jessaskey

[2022-07-04 12:22] #191 closed, assigned to jessaskey

[2022-07-04 12:22] #190 closed, assigned to jessaskey

[2022-07-04 12:22] #187 closed, assigned to jessaskey

[2022-07-04 12:22] #183 closed, assigned to jessaskey

[2022-07-04 12:23] #173 closed, assigned to jessaskey

[2022-07-04 12:26] jessaskey opened #194 "Flyboid Invisible after death"
If you are on Level 1 and have two remaining Flyboids. Die by running into one of the remaining Flyboids. When the game comes back, there are no flyboids but the game is playing as if there is still one remaining?

[2022-07-07 19:54] jessaskey opened #195 "Level 21 not saving KEYS"
When playing on Level 21 (first section of homeworld)... when Rex dies after collecting any of the keys, he will not have them again after death. This seems a bit extreme and within each level Rex should retain his keys rather than the level fully reverting back to 21 if possible.

[2022-07-07 23:10] bakerhillpins opened #196 "No music/fireworks for 2nd player high score"
2 player game, Player 2's game ends before player 1, Player 2 gets to enter initials before player 1 resumes play and got HS number 3 in the table but didn't get any fireworks or music.

Player 1 had a higher score at that time. Player 1 got HS one and got fireworks and music.

this is on 0.85 PE mazes.

[2022-07-08 22:42] bakerhillpins opened #197 "Screen goes black when Maxbot kills you"
This doesn't happen all the time but seems to happen MOST times.

Let max kill you in a maze and when he first turns you into a flashing skeleton the screen goes blank for like 1 second. Then it comes back to normal. Doesn't seem to affect any other things.

0.85, PE mazes, playing the first XX (token) level and level 21.

I have a video but as it's relatively common it shouldn't be hard to reprod

[2022-07-08 22:46] bakerhillpins opened #198 "Music varies speed/pitch (or whatever it's called)"
I'll start off with this may be just the way it is because of the game architecture.. However:

I can notice the music becoming faster as more and more "enemies" are removed from the level. An easy way to hear this is to play the 1st token level on 0.85 PE.  There's only one Maxbot and all the rest is O2.  At the end (when you've consumed the all the O2 you can hear the music speed up.

I'll try t

[2022-07-10 20:08] bakerhillpins opened #199 "Game resets to attract mode when playing level 21 in demo mode."
0.85 PE.  Setup in demo mode and select level 21.  Sit through the tac scan screen. When the VAXX space station appears and zooms towards the player the game will freeze and then reset when it gets to the bottom of the screen.

[2022-07-10 20:20] bakerhillpins opened #200 "Having problems moving left quickly."
0.85 PE.

It seems like Rex will not move fast to the left consistently. I can zing the roller and he only occasionally runs "Fast" However, moving to the right it doesn't appear to be a problem. I'm seeing this playing the XX levels in demo mode. I've mostly played the first 2 XX levels. When I play other levels (Level 4 for example) I don't seem to have any issues moving left or right at the sam

[2022-07-10 20:41] bakerhillpins opened #201 "Clock doesn't slow down time."
0.85 PE  Level 13 Demo mode play

When I activate the clock on Level 13 time does not appear to slow down, nor does the countdown timer when you activate the reactoid.

[2022-07-10 20:44] bakerhillpins opened #202 "The tac scanner screen dissapears immedately if you don't press the fire button."
0.85 PE in demo mode

Play level 13 in demo mode and complete it. When the tac scan screen shows up don't press the fire button. The screen will appear and almost immediately exit and you'll be playing the space battle.

[2022-07-10 20:48] bakerhillpins opened #203 "Fishoids always move off to the lower corner of the screen where they can't be shot."
0.85 PE Demo Mode play.

I'm playing level 13.  Kill a few of the fishoids down to 1 or 2. Then let those fishoids come to the bottom where they circle to the Jaws theme. If you just leave them alone they will move off to the lower right corner of the screen.  This happens pretty quickly. Once they are there the catastrofigher can't reach them and you must sit and wait for the level bonus to count

[2022-07-13 04:34] jessaskey commented on #199
This seems to be random and I have seen it happen.... tried to capture it a few times with a trace but good to have it documented here so I don't forget.

[2022-07-13 04:43] jessaskey commented on #198
Since you mention a Maxbot specifically, there is a background sound associated with the Max robot and the speed of it's 'we-ew we-ew' sound *does* increase as Max gets closer to Rex. As Rex moves away from Max, the sound should decrease in pitch. Now, what Im curious about is that you are talking specifically about a different sound (enter/exit music?) or are you indeed talking about the Max soun

[2022-07-14 02:02] jessaskey commented on #203
This ended up being a bug from #104 which was an earlier change request, seems #104 was fine on Level 1 and 5 but not 13, 17, etc due to some difficulty settings. In #104 ended up leaving the fishoids with this 'double bounce' effect which was simply something I ended with because I wasn't able to get the fishoids to sucessfully 'go back up' and then re-attack. Well, I spent some time getting this

[2022-07-14 04:24] jessaskey commented on #201
Does the clock do it's spinning animation?

[2022-07-14 04:38] jessaskey commented on #199
I just tried about 20 times to get this to crash and I was not able to do it now for some reason. Before it was happening fairly regularly, not sure what might have changed that could have 'fixed' this tho... will continue to monitor and leave this open tho.

[2022-07-14 04:42] jessaskey commented on #199
As a note on this... there is a flag in the code that I have currently set to NOT reset the VG if it hasn't halted for a long time (generally a math error on writing vector lengths into the VGRAM from the Alpha CPU).... once I release the game, I will put this flag back to the default behavior which will simply reset the VG if it times out instead of crashing the game. Because we are pre-release t

[2022-07-14 04:48] jessaskey commented on #197
Okay, I found this issue and it should be fixed in ROMset v0.86 forward.

[2022-07-14 11:53] bakerhillpins commented on #201
Here's a video I took.

https://user-images.githubusercontent.com/5980709/178976425-d04ad125-f913-4e15-a593-e5a1e5c447c6.MOV

[2022-07-14 11:54] bakerhillpins commented on #199
Huh.. this happened every time I tried it on hardware.. I tried 3 times though.

[2022-07-14 19:26] jessaskey commented on #199
yeah, it was happening fairly consistently for me on HBMAME for awhile, but for some reason everytime I turn on a trace to try and see what is going on... it doesn't happen... so I will keep trying as there is clearly a random bad RAM variable data value which is causing this... it may be something around the speech again because right when the ship hits the bottom of it's motion is when the speec

[2022-07-14 21:20] jessaskey commented on #199
Okay, I think I actually found this issue... it appears that I had a typo in some random number data loading... details follow..

TLDR: I fixed two lines in code that was causing this crash.

In the original code, there was one way to get a random number and that was to ask the Gamma for one because the Pokey's which contain the actual random number generators are on the GAMMA processor. It appear

[2022-07-14 23:07] jessaskey commented on #202
So it should be so that the approaching station needs to at least zoom all the way down onto the screen center and the range should be at 32... if you don't hit the breakout start button before then (and in the case of level 14, there is no message about the warps), the tactical scanner will zoom in and end fairly quick... you really do have to hit the button to launch the ball pretty quickly.

[2022-07-14 23:16] jessaskey commented on #192
Im going to leave this one as is... I *did* however somewhat shorten the tact scan timer if there is a warp message being displayed.. it was at like 12 seconds, I changed it to more like 9 seconds now.

[2022-07-14 23:16] #192 closed, assigned to nobody

[2022-07-15 04:46] jessaskey commented on #201
So... Clock does not affect Ion Cannon shots OR the Reactor timer (which it *is* weird that it doesnt' affect the reactor timer, but it doesn't). You might ask, why is the clock on this level then? Well, it does affect the Trip Pad pyroids, so it *does* do something, just not much on this level. Really, in summary, the only thing that the clock affects are Pyroids, Perkoids and Perkoid shots.

[2022-07-16 01:32] bakerhillpins commented on #202
This has been a point of confusion and frustration for me during game play. I'll take a video when I get back to the house. I don't feel that the timeouts give time to read the message at the top and interact with the warps/breakout. So for me it's takes away from the experience.  I'll say that this was an issue with the OEM game too. I'm not sure if you've modified the code in this area but it do

[2022-07-16 01:34] bakerhillpins commented on #192
So I just commented on #202 with regard to this.  I don't think the timing code with respect to these is accurate anymore.

[2022-07-16 01:37] bakerhillpins commented on #201
I'm getting old and CRS.  I guess that was the main issue, I sorta figured if the clock was there it would have some affect but that must only be on the TE setup.

Sorry for the runaround.

[2022-07-16 16:03] jessaskey commented on #202
So, the timing code in the main game is structured a little funny and I could certainly restructure it, but I fear at this late point that I may intro bugs... but here are my thoughts as I think you are pretty on point with your feedback too..

Overall, the tactical scanner timer is based upon a counter of 'ticks' (which is 16 frame counts = about 1/2 second)... the original code has a main timer

[2022-07-18 13:17] bakerhillpins commented on #202
This is the confusion for me, If the no button press delay were 5 seconds I don't think I'd be upset but it absolutely doesn't feel like 5 seconds.  Honestly, It seems random. I'm going to go downstairs and grab some video and that will provide actual time. Maybe I'm crazy..

Also, I wonder if our removal of the 'waste' vector has changed the timing enough to make it shorter? (actual time shorter)

[2022-07-18 15:48] bakerhillpins commented on #202
2 videos for you. 1st is starting at level 13.. there's 5 seconds between landing on the tac scan page and when the ball launches. BTW - I didn't press any button it just launches by itself.  Then the 2nd is after finishing level 13, it's maybe 2-3 seconds and goes away...  Obviously watch the time on the video to see what I'm talking about.

https://user-images.githubusercontent.com/5980709/17955

[2022-07-18 16:35] bakerhillpins commented on #202
Got the instant exit. I had just played the 2nd XX level, and decided to start at level 1. And it instant exits. Not sure if this is a demo mode problem though.

https://user-images.githubusercontent.com/5980709/179559655-80c19d60-7fdc-4c4b-9976-756bd509bfd7.mp4

[2022-07-18 21:20] bakerhillpins opened #204 "Boot up in test mode and Quad Pokey is labeled bad."
0.85

If you boot up in test mode (Self Test switch on) the Quad Pokey will be labeled as bad with a red X in the ST screen.  If you boot up into the game and flip the ST switch the POKEY passes.

[2022-07-18 21:23] bakerhillpins opened #205 "Max sounds are not turned off when level is completed"
0.85

In the spirit of #188, if you complete a level with a Maxbot active you will continue to hear his active sound until you die.

[2022-07-18 21:24] bakerhillpins commented on #201
Isn't there a Not a Problem option?  We should probably close it regardless as it was my mistake.

[2022-07-18 21:34] bakerhillpins commented on #200
Ok, so went downstairs and messed around with this a bunch. Here's what I did:

Validated that I have the following: (which is exactly as a Dedicated should be)

1. Conversion Board
2. Crystals changed out to Dedicated specs
3. R186 is installed,
4. Jumper to pull LETA Pin 14 low (slower setting) [See here:](http://www.biltronix.com/pdf_files/Space_Duel_to_Major_Havoc_Conversion/Major_Havoc_Conver

[2022-07-18 21:45] bakerhillpins commented on #198
I was talking about the background sounds/music..  not the max sound. I'll try to reproduce this in a video.

[2022-07-18 23:21] bakerhillpins opened #206 "Death by maxbot on last XX level plays MH theme"
0.85 PE

If I play the last PE XX level and get killed by the Maxbot in the center of the maze the game plays the MH theme?? I don't have any of the audio hardware so not sure if that's the reason or not.

I can add a video if necessary.  You get the booties, travel down the left hand side, across the bottom, and up the center. I typically get him to chase me down a bit and die and I get theme mus

[2022-07-18 23:24] bakerhillpins commented on #200
In the image below the Repro wheel is on top (sliver) and the OEM Atari is on the bottom (black). I did my best to center the mounting hole and one of the edges of the holes on the perimeter. The pic is taken directly above. They don't lay perfectly flat on each other but you can make out how the holes seem to vary on the Repro one compared to the OEM.

![IMG_9844](https://user-images.githubuserco

[2022-07-19 00:38] jessaskey commented on #202
Okay, I found that bug that was 'auto launching' the ball and that issue is fixed. It was only happening on levels where the warp message was being displayed.

On that second video... that is pretty much by design the way it works... once the ship zooms into range and ends at range 32 (and as long as there is not a warp message being displayed)... then the Tactical Scanner is OVER!  You gotta hit

[2022-07-19 00:39] jessaskey commented on #202
The one thing I see in your video tho that is a little disturbing is that the ship and your score are dissappearing upon the ship zooming in from the maze end and into the tact scan. That might be a bug, Im going to try and fix that under this issue too.

[2022-07-19 00:43] bakerhillpins commented on #202
Look at the time on the video.. you're in the tac scanner for a tad over 3 seconds where you're saying above it should be 5 so that's really what I'm driving at here.

[2022-07-19 00:48] jessaskey commented on #202
Well, when I say '5'.... you gotta take that lose because I typically talk about the units/tics used in code, plus when I count manually, Im probably not being very accurate.